## Comparisons and Conditionals

| **Comparison Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x == y `         | `True` if x is equal to y                                                                                |
| `x != y `         | `True` if x is not equal to y                                               |
| `x > y`       |  `True` if is greater than y                                                        |
| `x < y`       |   `True` if x is less than y  
| `x >= y`       |   `True` if x is greater than or equal to y |
| `x <= y`      | `True` if x is less than or equal to y`                                                                             |
                                                                      |

| **Logical Operator** | **Explanation**                                                                                   |
|:-------------:|:---------------------------------------------------------------------------------------------------:|
| `x and y`         | `True` if x and y are both True                                                                             |
| `x or y`         | `True` if either x or y is True                                              |
| `not x`       |  `True` if is x is not True                                                       |

Last lesson, we talked about the four Python data types, which included Booleans or True/False statements. We discussed how if we make a variable called `beyonce` and assign it the value "Grammy award-winner"...

In [11]:
beyonce = "Grammy award-winner "

...and then we evaluate that statement with the equals operator `==`...

In [12]:
beyonce == "Grammy award-winner"

True

In [23]:
type(beyonce == "Grammy award-winner")

bool

...the operator will return a Boolean, which will tell us whether the statement is True or False.

Booleans may seem simple, but they're extremely powerful and function as the engine of a lot of code. They allow us to program the computer to do things based on different "conditions."

## If Statement

An `if` statement is an instruction to do something *if* a particular condition is True. Both parts of this equation together are called a conditional.

A common and simple conditional will consist of two lines. On the first line, you will type the English word `if` followed by an evaluation `beyonce == "Grammy award-winner"` and then a colon `:`. On the second line, you will indent (or hit `tab`), then write an instruction to be completed if the condition is met, such as `print("Congratulations, Beyonce!")`

In [ ]:
beyonce = "Grammy award-winner"

In [25]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")

Congratulations, Beyonce!

Python is picky about how you format `if` statements. Look what happens if I forget to tab over on the second line or if I forget the colon:

In [26]:
if beyonce == "Grammy award-winner":
print("Congratulations, Beyonce!")

IndentationError: expected an indented block (<ipython-input-26-d73728e9035a>, line 2)

In [38]:
if beyonce == "Grammy award-winner"
    print("Congratulations, Beyonce!")

SyntaxError: invalid syntax (<ipython-input-38-4a91584b2aab>, line 1)

## Else Statement

You can add even more complexity in a conditional by adding an `else` statement. This will instruct the computer program to do something in case the condition is not met. You format it the same way you format an `if` statement, directly following the `if` statement.

In [39]:
beyonce = "not a Grammy award-winner this year"

In [40]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
else:
    print("They messed up, Beyonce.")

They messed up, Beyonce.

## Elif Statement

Sometimes you want even more nuance to respond to slightly different conditions. For example, if Beyonce was nominated for a Grammy but didn't win, then we might want to express a slightly different sentiment than if she was nominated at all. You can add in this nuance with an `elif` state or else if statement, which will evaluate the first `if` statement first and then *if* that statement is not True, it will evaluate the `elif` statement.

In [48]:
beyonce = "Grammy award-nominee"

In [49]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
elif beyonce == "Grammy award-nominee":
    print("Ok well at least they nominated you, Beyonce.")
else:
    print("They messed up, Beyonce.")

Ok well at least they nominated you, Beyonce.

## Group Exercise / HW Assignment 3

For this group exercise and HW assignment, we're going to draw on Anelise Shrout's Bellevue Almshouse data. Below I'm displaying the dataset with the Python library "Pandas" just so we can get a peek at it. We won't actually be working directly with this CSV file at the moment, and we'll talk about Pandas more in a few lessons.

In [60]:
import pandas as pd
almshouse_data = pd.read_csv('../data/bellevue_almshouse_modified.csv')
almshouse_data.head(20)

,date_in,first_name,last_name,age,disease,profession,gender,children
0,1847-04-17,Mary,Gallagher,28.0,recent emigrant,married,f,Child Alana 10 days
1,1847-04-08,John,Sanin (?),19.0,recent emigrant,laborer,m,Catherine 2 mo
2,1847-04-17,Anthony,Clark,60.0,recent emigrant,laborer,m,Charles Riley afed 10 days
3,1847-04-08,Lawrence,Feeney,32.0,recent emigrant,laborer,m,Child
4,1847-04-13,Henry,Joyce,21.0,recent emigrant,NaN,m,Child 1 mo
5,1847-04-14,Bridget,Hart,20.0,recent emigrant,spinster,f,Child
6,1847-04-14,Mary,Green,40.0,recent emigrant,spinster,f,And child 2 months
7,1847-04-19,Daniel,Loftus,27.0,destitution,laborer,m,NaN
8,1847-04-10,James,Day,35.0,recent emigrant,laborer,m,NaN
9,1847-04-10,Margaret,Farrell,30.0,recent emigrant,widow,f,NaN
10,1847-04-10,Bridget,Day,30.0,recent emigrant,married,f,NaN
11,1847-04-10,Anthony,Day,0.5,recent emigrant,NaN,m,NaN
12,1847-04-07,James,Collins,22.0,recent emigrant,laborer,m,NaN
13,1847-04-07,Thomas,Collins,21.0,recent emigrant,laborer,m,NaN
14,1847-04-07,Pat,Whalen,25.0,recent emigrant,laborer,m,NaN
15,1847-04-17,Dan,Delany,10.0,typhus,NaN,m,NaN
16,1847-04-09,Catherine,O'Harra,23.0,recent emigrant,married,f,NaN
17,1847-04-09,Damiel,O'Harra,25.0,recent emigrant,laborer,m,NaN
18,1847-04-12,Margaret,Delaney,26.0,recent emigrant,married,f,NaN
19,1847-04-12,Michael,Delany,3.0,recent emigrant,NaN,m,NaN

In [62]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

In [ ]:
person1_name = 'Mary Gallagher'
person1_age = 28
person1_disease = 'recent emigrant'
person1_profession = 'married'
person1_gender = 'f'
person1_child_status = 'Child Alana 10 days'

In [ ]:
1. Write an `if` statement that reports whether person1 is younger than 30 years old.

In [ ]:
#Your Code Here
    print('Person is older than 30')

In [65]:
if person1_age < 30:
    print('Person is younger than 30 years old')
else:
    print('Person is younger than 30')

Person is younger than 30 years old

In [17]:
if person1_age > 30:
    print('Person is older than 30')
else:
    print('Person is younger than 30')

Person younger than 30

In [193]:
person1 = 'Mary Gallagher'
if person1_gender == 'f':
    print('According to the Bellevue gender is female')
else:
    print('Male')

Male

In [22]:
if "Child" in person1_child_status:
    print('Person has children')
else:
    print('Person does not have children')

Person has children

In [67]:
person1_last_name = '   Sanin (?)   '

In [69]:
person1_last_name.strip()

'Sanin (?)'

In [113]:
person1_last_name.replace("(?)", "")

'   Sanin    '

In [ ]:
person_1_children ==

In [9]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")

In [6]:
beyonce = "not a Grammy award-winner"

In [8]:
if beyonce == "Grammy award-winner":
    print("Congratulations, Beyonce!")
else:
    print("They messed up, Beyonce.")

They messed up, Beyonce.