# HathiTrust RSync

## Installation

In [ ]:
!pip install htrc-feature-reader

## Get Extracted Features From The Command Line

Lost in the City

https://babel.hathitrust.org/cgi/pt?id=mdp.39015029970129

Put files into current directory

In [1]:
!htid2rsync mdp.39015029970129 | rsync --files-from - data.analytics.hathitrust.org::features-2020.03/ hathi-files/

[queenpalm] Welcome to the HathiTrust Research Center rsync server.

## Get Extracted Features With Python

In [2]:
from htrc_features import utils

In [3]:
utils.id_to_rsync('mdp.39015029970129')

'mdp/31272/mdp.39015029970129.json.bz2'

### Read in extracted features from the web

In [4]:
from htrc_features import Volume

In [5]:
volume = Volume("mdp.39015029970129")

### Read in extracted features from file

In [6]:
from htrc_features import Volume

In [7]:
volume = Volume("hathi-files/mdp/31272/mdp.39015029970129.json.bz2")

## Read in a Workset

https://solr2.htrc.illinois.edu/solr-ef/?solr-key-q=17083A600227127535CCB993F515A8220&start=31&group-by-vol=0

In [1]:
!pip install htrc

Collecting htrc
  Using cached htrc-0.1.53.tar.gz (81 kB)
Collecting PyLD
  Using cached PyLD-2.0.3.tar.gz (70 kB)
Requirement already satisfied: future in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from htrc) (0.18.2)
Collecting prov
  Using cached prov-1.5.3-py2.py3-none-any.whl (423 kB)
Collecting unicodecsv
  Using cached unicodecsv-0.14.1.tar.gz (10 kB)
Collecting progressbar2
  Using cached progressbar2-3.53.1-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: requests in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from htrc) (2.23.0)
Collecting argparse==1.1
  Using cached argparse-1.1.zip (151 kB)
Collecting topicexplorer==1.0b226
  Using cached topicexplorer-1.0b226-py2.py3-none-any.whl (2.2 MB)
Requirement already satisfied: cachetools in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from PyLD->htrc) (4.1.0)
Collecting frozendict
  Using cached frozendict-1.2.tar.gz (2.6 kB)
Requirement already satisfied: lxml in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from PyLD->htrc) (4.5.2)
Collecting rdflib>=4.2.1
  Using cached rdflib-5.0.0-py3-none-any.whl (231 kB)
Requirement already satisfied: six>=1.9.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (1.14.0)
Requirement already satisfied: python-dateutil>=2.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (2.8.1)
Requirement already satisfied: networkx>=2.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prov->htrc) (2.4)
Collecting python-utils>=2.3.0
  Using cached python_utils-2.4.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from requests->htrc) (2.9)
Requirement already satisfied: matplotlib>=2.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (3.2.1)
Collecting webtest>=2.0.29
  Using cached WebTest-2.0.35-py2.py3-none-any.whl (32 kB)
Collecting brewer2mpl<1.5.0,>=1.4.0
  Using cached brewer2mpl-1.4.1-py2.py3-none-any.whl (24 kB)
Collecting numpy<1.16.4,>=1.11.3
  Downloading numpy-1.16.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (13.9 MB)
     |████████████████████████████████| 13.9 MB 12.5 MB/s eta 0:00:01
Collecting waitress>=1.0.0
  Downloading waitress-1.4.4-py2.py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 12.6 MB/s eta 0:00:01
Requirement already satisfied: nltk<4.0.0,>=3.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (3.5)
Requirement already satisfied: notebook>=4.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (6.0.3)
Collecting bottle>=0.12.0
  Downloading bottle-0.12.18-py3-none-any.whl (89 kB)
     |████████████████████████████████| 89 kB 9.2 MB/s  eta 0:00:01
Requirement already satisfied: Unidecode in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (1.1.1)
Processing /Users/melaniewalsh/Library/Caches/pip/wheels/40/15/30/7d8f7cea2902b4db79e3fea550d7d7b85ecb27ef992b618f3f/wget-3.2-cp37-none-any.whl
Collecting Paste==2.0.3
  Using cached Paste-2.0.3-py34-none-any.whl (625 kB)
Collecting sortedcontainers>=1.5.7
  Downloading sortedcontainers-2.2.2-py2.py3-none-any.whl (29 kB)
Processing /Users/melaniewalsh/Library/Caches/pip/wheels/28/77/e4/0311145b9c2e2f01470e744855131f9e34d6919687550f87d1/ujson-1.35-cp37-cp37m-macosx_10_7_x86_64.whl
Collecting pdfminer.six==20170720
  Using cached pdfminer.six-20170720.tar.gz (12.0 MB)
Requirement already satisfied: decorator>=4.0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (4.4.2)
Collecting pystache==0.5.4
  Downloading pystache-0.5.4.tar.gz (75 kB)
     |████████████████████████████████| 75 kB 6.1 MB/s eta 0:00:011
Collecting pybtex==0.21
  Downloading pybtex-0.21.tar.gz (364 kB)
     |████████████████████████████████| 364 kB 7.4 MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.19.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (1.4.1)
Collecting vsm>=0.4.15
  Using cached vsm-0.4.15-cp37-cp37m-macosx_10_7_x86_64.whl (230 kB)
Requirement already satisfied: scikit-learn>=0.18.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from topicexplorer==1.0b226->htrc) (0.22.2.post1)
Collecting langdetect>=1.0.0
  Downloading langdetect-1.0.8.tar.gz (981 kB)
     |████████████████████████████████| 981 kB 9.3 MB/s eta 0:00:01
Collecting profilehooks>=1.8.0
  Downloading profilehooks-1.12.0-py2.py3-none-any.whl (12 kB)
Collecting mock>=2.0.0
  Downloading mock-4.0.2-py3-none-any.whl (28 kB)
Collecting snakeviz>=0.4.0
  Downloading snakeviz-2.1.0-py2.py3-none-any.whl (282 kB)
     |████████████████████████████████| 282 kB 21.5 MB/s eta 0:00:01
Requirement already satisfied: pyparsing in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from rdflib>=4.2.1->prov->htrc) (2.4.7)
Collecting isodate
  Using cached isodate-0.6.0-py2.py3-none-any.whl (45 kB)
Requirement already satisfied: cycler>=0.10 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.0.0->topicexplorer==1.0b226->htrc) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from matplotlib>=2.0.0->topicexplorer==1.0b226->htrc) (1.2.0)
Collecting WebOb>=1.2
  Downloading WebOb-1.8.6-py2.py3-none-any.whl (114 kB)
     |████████████████████████████████| 114 kB 19.9 MB/s eta 0:00:01
Requirement already satisfied: beautifulsoup4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from webtest>=2.0.29->topicexplorer==1.0b226->htrc) (4.6.0)
Requirement already satisfied: tqdm in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (4.46.0)
Requirement already satisfied: regex in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (2018.1.10)
Requirement already satisfied: joblib in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (0.14.1)
Requirement already satisfied: click in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nltk<4.0.0,>=3.0.0->topicexplorer==1.0b226->htrc) (7.1.2)
Requirement already satisfied: jupyter-client>=5.3.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (6.1.3)
Requirement already satisfied: ipython-genutils in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.2.0)
Requirement already satisfied: ipykernel in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.2.1)
Requirement already satisfied: nbformat in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.0.6)
Requirement already satisfied: nbconvert in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (5.6.1)
Requirement already satisfied: pyzmq>=17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (19.0.0)
Requirement already satisfied: Send2Trash in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.5.0)
Requirement already satisfied: jinja2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (2.11.2)
Requirement already satisfied: jupyter-core>=4.6.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.6.3)
Requirement already satisfied: terminado>=0.8.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.8.3)
Requirement already satisfied: tornado>=5.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (6.0.4)
Requirement already satisfied: prometheus-client in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.1)
Requirement already satisfied: traitlets>=4.2.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.3.3)
Collecting pycryptodome
  Downloading pycryptodome-3.9.8-cp37-cp37m-macosx_10_6_intel.whl (14.1 MB)
     |████████████████████████████████| 14.1 MB 10.8 MB/s eta 0:00:01  |                                | 20 kB 4.6 MB/s eta 0:00:048.5 MB/s eta 0:00:02
Requirement already satisfied: PyYAML>=3.01 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pybtex==0.21->topicexplorer==1.0b226->htrc) (5.3.1)
Requirement already satisfied: latexcodec>=1.0.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pybtex==0.21->topicexplorer==1.0b226->htrc) (2.0.0)
Collecting py4j
  Downloading py4j-0.10.9.1-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 8.0 MB/s eta 0:00:01
Collecting cython
  Downloading Cython-0.29.21-cp37-cp37m-macosx_10_9_x86_64.whl (1.9 MB)
     |████████████████████████████████| 1.9 MB 14.6 MB/s eta 0:00:01
Collecting translate
  Downloading translate-3.5.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: appnope; platform_system == "Darwin" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.0)
Requirement already satisfied: ipython>=5.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (7.14.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.2.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.8.4)
Requirement already satisfied: testpath in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.4.4)
Requirement already satisfied: defusedxml in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.6.0)
Requirement already satisfied: bleach in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.1.5)
Requirement already satisfied: pygments in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (2.6.1)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.3)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.4.2)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.1.1)
Collecting tox
  Downloading tox-3.20.0-py2.py3-none-any.whl (83 kB)
     |████████████████████████████████| 83 kB 2.7 MB/s eta 0:00:011
Collecting pre-commit
  Downloading pre_commit-2.7.1-py2.py3-none-any.whl (171 kB)
     |████████████████████████████████| 171 kB 10.4 MB/s eta 0:00:01
Requirement already satisfied: backcall in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.0.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (4.8.0)
Requirement already satisfied: jedi>=0.10 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.17.0)
Requirement already satisfied: setuptools>=18.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (46.1.3.post20200325)
Requirement already satisfied: pickleshare in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.5)
Requirement already satisfied: attrs>=17.4.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.16.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (1.6.0)
Requirement already satisfied: webencodings in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.5.1)
Requirement already satisfied: packaging in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (20.1)
Requirement already satisfied: py>=1.4.17 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (1.9.0)
Requirement already satisfied: filelock>=3.0.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (3.0.10)
Requirement already satisfied: toml>=0.9.4 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (0.10.1)
Collecting virtualenv!=20.0.0,!=20.0.1,!=20.0.2,!=20.0.3,!=20.0.4,!=20.0.5,!=20.0.6,!=20.0.7,>=16.0.0
  Downloading virtualenv-20.0.31-py2.py3-none-any.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 2.9 MB/s eta 0:00:01     |████████▌                       | 1.3 MB 2.9 MB/s eta 0:00:02     |████████████████████▎           | 3.1 MB 2.9 MB/s eta 0:00:01     |████████████████████████████▎   | 4.3 MB 2.9 MB/s eta 0:00:01
Requirement already satisfied: pluggy>=0.12.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from tox->translate->vsm>=0.4.15->topicexplorer==1.0b226->htrc) (0.13.1)
Collecting nodeenv>=0.11.1
  Downloading nodeenv-1.5.0-py2.py3-none-any.whl (21 kB)
Collecting cfgv>=2.0.0
  Downloading cfgv-3.2.0-py2.py3-none-any.whl (7.3 kB)
Collecting identify>=1.0.0
  Downloading identify-1.5.4-py2.py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.2 MB/s  eta 0:00:01
Requirement already satisfied: wcwidth in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.1.9)
Requirement already satisfied: ptyprocess>=0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.6.0)
Requirement already satisfied: parso>=0.7.0 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.0.0->ipykernel->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (0.7.0)
Requirement already satisfied: zipp>=0.5 in /Users/melaniewalsh/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat->notebook>=4.0.0->topicexplorer==1.0b226->htrc) (3.1.0)
Collecting appdirs<2,>=1.4.3
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting distlib<1,>=0.3.1
  Downloading distlib-0.3.1-py2.py3-none-any.whl (335 kB)
     |████████████████████████████████| 335 kB 11.0 MB/s eta 0:00:01
Building wheels for collected packages: htrc, PyLD, unicodecsv, argparse, frozendict, pdfminer.six, pystache, pybtex, langdetect
  Building wheel for htrc (setup.py) ... done
  Created wheel for htrc: filename=htrc-0.1.53-py3-none-any.whl size=141298 sha256=59ec494ea26fd096d0cff6bd8ea8e5101c93e328502c2b9ebccc59ec66aa2385
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/84/e9/eb/eca433a7f59f75a7a4c055d1d45d6d7f6c646dc7082fb0f592
  Building wheel for PyLD (setup.py) ... done
  Created wheel for PyLD: filename=PyLD-2.0.3-py3-none-any.whl size=70851 sha256=380cc8dd744e91034ff9da5f025c36422e3800625b50edf4346b7f4f29cbbad3
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/cb/96/f3/73dbc98120b9f1835a00e015d400709b452032e388ad6fb205
  Building wheel for unicodecsv (setup.py) ... done
  Created wheel for unicodecsv: filename=unicodecsv-0.14.1-py3-none-any.whl size=10766 sha256=17ed2b26317384ae5108f2cfd426d12c23b9e263f48ce3b99b9c3730d42182e9
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/1a/f4/8a/a5024fb77b32ed369e5c409081e5f00fbe3b92fdad653f6e69
  Building wheel for argparse (setup.py) ... done
  Created wheel for argparse: filename=argparse-1.1-py3-none-any.whl size=20733 sha256=f9abeafad4ef5877b4b79580cd34fcae80b32ff1a3b4d0b1b5eed1b207aeecb4
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/59/e1/77/ca719b6be5cfdef5d09090cb37f86df1d9bbdd0749a0e48860
  Building wheel for frozendict (setup.py) ... done
  Created wheel for frozendict: filename=frozendict-1.2-py3-none-any.whl size=3148 sha256=d9d3a55ed9dc3153775aab1cf050559d6ae5696987d74e97c955cf72b2dc51eb
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/68/17/69/ac196dd181e620bba5fae5488e4fd6366a7316dce13cf88776
  Building wheel for pdfminer.six (setup.py) ... done
  Created wheel for pdfminer.six: filename=pdfminer.six-20170720-py3-none-any.whl size=5598447 sha256=95e7d0c852080b036eba1fdd793fbcd74fd068f433f565bad82a9d2c9519759b
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/80/45/53/67894b7a665e79cb590c6d8852f1873ceece60cc2e5d4516cd
  Building wheel for pystache (setup.py) ... done
  Created wheel for pystache: filename=pystache-0.5.4-py3-none-any.whl size=82928 sha256=08eb8804a86f3c345ba361d798bd9cec8772df60ff15d80510feccc6cfd3f52c
  Stored in directory: /Users/melaniewalsh/Library/Caches/pip/wheels/7e/fc/21/ac5286aa035303d281ff1a1c2fe6ce3682d2ee2bdcf7f6d89a

In [8]:
from htrc_features import FeatureReader

In [9]:
from htrc import workset
volume_ids = workset.load_hathitrust_collection('https://babel.hathitrust.org/cgi/mb?a=listis;c=447365647')

In [82]:
volume_ids = ['uva.x000691804',
 'mdp.39015041612683',
 'mdp.39015084118606',
 'mdp.39015031598124',
 'uva.x002228607',
 'mdp.39015063278306',
 'mdp.39015054289775',
 'mdp.39015046412022',
 'mdp.39015027359721',
 'mdp.39015019555161']

In [9]:
FeatureReader(ids=volume_ids)

In [16]:
FeatureReader.volumes

In [17]:
for volume in FeatureReader.volumes:
    print(volume.title)

TypeError: 'function' object is not iterable

In [23]:
Volume("uva.x000691804").tokens()

{'Directly',
 'dripping',
 'steps',
 'ghastly',
 'chairs',
 'speaker',
 'Smith',
 'examined',
 'genuinely',
 'erupting',
 'brand-new',
 'ring',
 'minimum',
 'aisle',
 'moaning',
 'wrists',
 'nameless',
 'half-hoped',
 'smoke',
 'equals',
 'illumined',
 'whence',
 'enthusiasm',
 'Weeping',
 'woman',
 'foot',
 'doing',
 'orders',
 'luckily',
 "d'apris",
 'credentials',
 'served',
 'married',
 '!',
 'nettles',
 'fantastic',
 'cloth',
 'nibbling',
 'disturbing',
 'Statue',
 'scowled',
 'fais',
 'paralysis',
 'resdessly',
 'ioo',
 'sit',
 'believe',
 'slow-moving',
 'forests',
 'Ma',
 'streaks',
 'Order',
 'tremendously',
 'yard',
 'squatted',
 'loosened',
 'Help',
 'tennis',
 'necessity',
 'MARGARET',
 'yesterday',
 'elephant',
 'conquering',
 'crash',
 'Bui',
 'blue',
 'odd',
 'moonlight',
 'Label',
 'unburden',
 'salaudV',
 'smile-as',
 'disappear',
 'undertone',
 'Central',
 'bi',
 '79',
 'gleamed',
 'vile',
 'abnormally',
 'lunch',
 'flash',
 'Bridegroom',
 'accomplish',
 'spooks',
 'uttered',
 'boat',
 'IT',
 'pissing',
 'double',
 'umbrellas',
 'yearning',
 'tb',
 'faindy',
 'revolutionary',
 'giggle',
 'precedes',
 'striking',
 '-LRB-',
 'disapproved',
 'melodramatic',
 'smug',
 'lo',
 'starless',
 'sip',
 'sliced',
 'cacophonous',
 'month',
 'glance',
 'rolled',
 'pulsations',
 'lamplight',
 'Idajveededa',
 'Seven',
 'So',
 'cake',
 'why',
 'tools',
 'affliction',
 'wagon',
 'invitation',
 'heavily',
 'stride',
 'Dirty',
 'boxes',
 'defeated',
 'surface',
 'ascent',
 'shoeshine',
 'roast',
 'hov',
 'foyer',
 '3i',
 'wits',
 'What',
 'inviting',
 'Rufus',
 'Lenox',
 'blocking',
 'complain',
 'nuzzling',
 'hysteria',
 'rooftop',
 'loot',
 'harried',
 'tonight',
 'cared',
 'Change',
 'adolescent',
 'constantly',
 'slope',
 'dependent',
 'enviously',
 'office',
 'ruby-eyed',
 'ways',
 'registering',
 'wipe',
 'munched',
 'Ai',
 'half-hidden',
 'her-one',
 'villa',
 'bang',
 'Arab',
 'second',
 'Franco',
 'day-fighting',
 'BEEN',
 'remote',
 'silly',
 'Brooklyn',
 'them-for',
 'tray',
 'heads',
 'approach',
 'board',
 'ob',
 'fired',
 'don',
 'certainly',
 'tab',
 'dare',
 'clouds',
 'mere',
 'suspicion',
 'GIOVANNI',
 'those',
 'Tower',
 'landscape',
 'hidden',
 'Rebel',
 'doubly',
 'marvelling',
 'delightedly',
 'darken',
 'shafts',
 'quartermaster',
 'penalties',
 'flavour',
 'drawers',
 'odds',
 'rapaciously',
 'malediction',
 'departure',
 'well-known',
 'close-ups',
 'crumpled',
 'pipe',
 'telephone',
 'transmitted',
 'Crime',
 'science',
 'set',
 'rich',
 'fermented',
 'homes',
 'gesticulating',
 'mechanical',
 'briefest',
 'preoccupied',
 'bill',
 'postures',
 'locomotion',
 'cocky',
 'inevitably',
 'Vickie',
 'bounded',
 'counter-suggestions',
 'grinding',
 'captivity',
 'knowledge',
 'language',
 'rigorously',
 'trampling',
 'samel',
 'pressing',
 'isolated',
 'xhair',
 'knee',
 'JVe',
 'best',
 'cities',
 'toujours',
 'Slowly',
 'swap',
 'Copyright',
 'wood',
 'armchair',
 'thinner',
 'hopheaded',
 'Then',
 'disadvantage',
 'barbarian',
 'year',
 'poles',
 'cream-coloured',
 'astonish',
 'bathroom',
 'z',
 'instead',
 'deserve',
 'bars',
 'claimed',
 'tales',
 'argued',
 'CORNER',
 'success',
 'resolution',
 'lope',
 'bought',
 'hysterical',
 'understand',
 'inexplicably',
 'Silenskis',
 'Neon',
 'bushel',
 'slides',
 'WHEN',
 'White',
 'grooviest',
 'shrinking',
 'rituals',
 'officer',
 'Thirty-fourth',
 'scar',
 'showcase',
 'discovered',
 'substance',
 'capable',
 'commotion',
 'forgive',
 'weirdly',
 'strummed',
 'cracks',
 'searched',
 'funerals',
 'Road',
 'natural',
 'Holiday',
 'crimes',
 'hairs',
 'States',
 'entirely',
 'beard',
 'grieving',
 'bartender',
 'stoop',
 'grimmest',
 'hideous',
 'expel',
 'leaning',
 'Honest',
 'eyeballs',
 'annoyed',
 'joy',
 'shoes',
 'supposed',
 'Fair',
 'highborn',
 'still',
 'flaunt',
 'camps',
 'belongs',
 'Give',
 'Judgment',
 'marry',
 'policemen',
 'account-she',
 'receive',
 'Tom',
 'tabletop',
 'accusation',
 'jerk',
 'cylindrical',
 'too',
 'calculating',
 'anguish',
 'THREE',
 'advantage',
 'raucous',
 'extent',
 'anybody',
 'alter',
 'notre',
 'ages',
 'replace',
 'consented',
 'borrow',
 'throughout',
 'officially',
 'flipped',
 'hying',
 'paranoiac',
 'gala',
 'tumblers',
 'flashed',
 'nap',
 'sweltering',
 'St',
 'homemade',
 '0010',
 'inscribed',
 'Lately',
 'Tired',
 'cunning',
 'Sunday-afternoon',
 'patches',
 'chat',
 'insolent',
 'jerked',
 'twisting',
 'listen',
 'Oh',
 '15a',
 'nicer',
 'weights',
 'seems',
 'inviolable',
 'enemy',
 'exciting',
 'unattractive',
 'tormenting',
 'City',
 'be',
 'Mon',
 'restored',
 'slums',
 'whirr',
 'Lot',
 'reverie',
 'Freshen',
 'youthful',
 'Gibraltar',
 'stone',
 'vocal',
 'just-love-to-love',
 'mar',
 'care',
 'control',
 'crucial',
 'rainwater',
 'clamoured',
 'mount',
 'motives',
 'Talk',
 'James',
 'usual',
 'thoughtfulness',
 'reared',
 'conquered',
 'millions',
 'Jane',
 'running',
 'baby',
 'single',
 'sun',
 '199',
 'business-mixed-with-pleasure',
 'adoration',
 'Silenski',
 'cany',
 'darkness',
 'complaining',
 'beside',
 'avenue',
 '313',
 'mopping',
 'caused',
 'aspires',
 'violated',
 'sorry',
 'Apparently',
 'lost',
 'high-necked',
 'invested',
 'amassed',
 'nation',
 'sand',
 'compete',
 'to-be-imagined',
 'collapse',
 'shorts',
 'Death',
 'back',
 'utilised',
 'shots',
 'formulas',
 'agent',
 'cards',
 'air',
 'east',
 'already',
 'Adam',
 'lanced',
 'execution',
 'hesitations',
 'tweezers',
 'nausea',
 'checks',
 'buzz',
 'Subways',
 'cover',
 'trench-coat',
 'civilise',
 'commit',
 'gnaw',
 'fellow',
 'admire',
 'Whichever',
 'anticipatory',
 'freedom',
 'work',
 'est',
 'petit',
 'gleam',
 'pacing',
 'delicately',
 'mes',
 'pizza',
 'drummer',
 'keeper',
 'crawled',
 'dirty',
 'intolerable',
 'sec',
 'disease',
 'hate',
 'Navy',
 'yourselves',
 'moistening',
 'humility',
 'end',
 'currently',
 'puritain',
 'treading',
 'reckless',
 'havens',
 'uniforms',
 'rejected',
 'monotone',
 'a.long',
 'critically',
 'door',
 'klook-a-klook',
 'cigar',
 'nothing',
 'whipped',
 '17a',
 'definite',
 'signs',
 'radiantly',
 'avis',
 'instantly',
 'told',
 'She',
 'centuries',
 'burdening',
 'half-facing',
 'test',
 'l',
 'hopelessly',
 'cotton',
 'judged',
 'tingled',
 'kissed',
 'superimposed',
 'credit',
 'junkies',
 'glow-and',
 'scene',
 'minks',
 'tripped',
 'unknowable',
 'expansive',
 'profound',
 'TO',
 'runs',
 'peopleListen',
 'intensely',
 'call',
 'represents',
 'sincere',
 'seldom',
 'purring',
 'nicely',
 'cognac',
 'sandals',
 'sits',
 'Wo',
 'sessions',
 'remember',
 'contemptuous',
 'teasingly',
 'expensive',
 'talent',
 'uncomfortable',
 'convenient',
 'blinking',
 'peeled',
 'lion',
 'line',
 'faithless',
 'done',
 'addresses',
 'can',
 'refusing',
 'Tuesday',
 'monstrosity',
 'drugged',
 'cents',
 'replaced',
 'skilful',
 'received',
 'hot-dog',
 'truce',
 'tres',
 'longer',
 'aims',
 'stiffen',
 'stage',
 'pieces',
 '-RSB-',
 'itched',
 'Ready',
 'splinters',
 'freshen',
 'boil',
 'invasion',
 'singly',
 'LONDON',
 'argue',
 'tension',
 'betray',
 'stopping',
 'pearl',
 'adjusting',
 'prayed',
 'chauvinistic',
 'outer',
 'fitting',
 'lend',
 'faster',
 'raped',
 'thud',
 'benefit',
 'Something',
 'change',
 'guide',
 'N',
 'discontented',
 'High',
 'pawed',
 'chatter',
 'animal',
 'away',
 'icy',
 'Paul',
 'escaped',
 'river',
 'particularly',
 'sober',
 'relieved',
 'pushing',
 'cousins',
 'screwing',
 'beaucoup',
 'unspoken',
 'simplicity',
 'pastry',
 'dabbed',
 'faceless',
 'venomous',
 'lunches',
 'width',
 'punching',
 'drop',
 'malicious',
 'hands',
 'realise',
 'Lcona',
 'disorder',
 'system',
 'blouse',
 'lacking',
 'Glad',
 'wicked',
 'impatient',
 'Buck',
 'cops',
 'hates',
 'suppose',
 'fait',
 'hunters',
 'fantasy',
 'gifted',
 'hood',
 'parapet',
 'lean',
 'adore',
 'lounge',
 'gave',
 '55',
 'talkers',
 'winds',
 'silky',
 'Naturally',
 'weighed',
 'are',
 'sides',
 'European',
 'skull',
 'TWO',
 'grown-ups',
 'intimacy',
 'TENTH',
 'lived-nor',
 'futility',
 'coherent',
 'expertly',
 'discern',
 'moan',
 'tide',
 'tinue',
 'own',
 'AVEDON',
 'Boys',
 'Glass',
 'guarded',
 'diamond-hard',
 'recognised',
 'Drink',
 'possibility',
 'charm',
 '/',
 'present',
 'mink',
 'becoming',
 'Sheridan',
 'consider',
 'judge',
 'brainless',
 'drums',
 'cook',
 'singer',
 'state',
 'brilliance',
 'Before',
 'on',
 'intensity',
 'proportions',
 'fashionable',
 'bored',
 'grocery',
 'excerpts',
 'woods',
 'grumbled',
 'nervous',
 'despised',
 'socks',
 'follow',
 'Bullshit',
 'cash',
 'Nothing',
 'Belfast',
 'talked',
 'trick',
 'pants',
 'bowl',
 'edge',
 'spun',
 'homeless',
 'pre-historic',
 'lacked',
 'implications',
 'shampoo',
 'bus',
 'flung',
 'heaven',
 'Damn',
 'porte-cochere',
 'huddle',
 'decay',
 'smile-T',
 'strangely',
 'boot',
 'grind',
 'massive',
 'contested',
 'obliquely',
 'STREET',
 'Y.',
 'brassiere',
 'aircraft',
 'tug',
 'wilderness',
 'hidden-that',
 'cling',
 'attentive',
 'gets',
 'averted',
 'bohemian',
 'proximity',
 'blond',
 'altar',
 'destroys',
 'movie',
 'hypnotised',
 'least',
 'Silence',
 'bloodied',
 'murderous',
 'manicured',
 'wielded',
 'toothache',
 'oldest',
 'hush',
 'dispel',
 'quarter',
 'John',
 'destination',
 'hills',
 'older',
 'Hi',
 'lighted',
 'blackly',
 'joints',
 'fingers',
 'observed',
 'noone',
 'scars',
 'plainer',
 'Somebody',
 'va.',
 'scarves',
 'compassion',
 'unusually',
 'envelope',
 'crisis',
 'uncontrollable',
 'rouse',
 'window',
 'I.',
 'among',
 'bienvenu',
 'enviable',
 'park',
 'tuberculosis',
 'threatei',
 'Will',
 'splendid',
 'departing',
 'Shit',
 'improbable',
 'Eight',
 'true',
 'Wonderful',
 'stock-still',
 'towns',
 'reconstruct',
 'choosy',
 'klook-klook',
 'accused',
 'service',
 'loosely',
 'piccaninnies',
 'kick',
 'drives',
 'hay',
 'submit',
 'slap',
 'gowns',
 'dominating',
 'asking',
 'Italians',
 'love-me',
 'Africa',
 'dialled',
 'treachery',
 'four',
 'killing',
 'head',
 'wet',
 'annoying',
 'controversy',
 'farmhouse',
 'devout',
 'Son',
 'whomever',
 'batons',
 'cella',
 'need',
 'An',
 'came',
 'none',
 'lament',
 'grandmother',
 'resignedly',
 'poisonous',
 'viscous',
 'notice',
 'warned',
 'coarsest',
 'slobs',
 'son',
 'foul',
 'Was',
 'Deflowered',
 'timeless',
 'Clarissa',
 'punish',
 'ambiguities',
 'Made',
 'Congratulations',
 'sincerely',
 'poised',
 'greater',
 'buried',
 'invincibly',
 'attendant',
 'Darkness',
 'maverick',
 'refrigerator',
 'fairly',
 'deliverance',
 'resonantly',
 'steadiness',
 'rotting',
 'alcohol',
 'snatching',
 'expectation',
 'published',
 'idea',
 'bawl',
 'including',
 'tickled',
 'motioned',
 'spiritual',
 'barbeque',
 'femmes',
 'Manhattan',
 'principal',
 'friends',
 'offence',
 'concentrated',
 'surge',
 'acting',
 'Gently',
 'attend',
 'match',
 'striding',
 'hats',
 'mysteries',
 'leafing',
 'straining',
 'restful',
 'barrier',
 'afford',
 'strong-jawed',
 'brashness',
 'Whisky',
 'whimpered',
 'sooner',
 'nakedness',
 'lower',
 'reddish',
 'snake',
 'ends',
 'abroad',
 'impersonal',
 'H',
 'que',
 'cream',
 'beer',
 'graveyard',
 'bellies',
 'broad',
 'Admiration',
 'Rennes',
 'gongs',
 'According',
 'hatred',
 'delighted',
 'monotony',
 'shielded',
 'quickly',
 'glory',
 'Imperturbably',
 'ladylike',
 'Ferociously',
 'Looks',
 'is',
 'studio',
 'Try',
 'ignoring',
 'straight',
 'streets',
 'drunken',
 'flower',
 'decisions',
 'baubles',
 'youthfully',
 'bottle',
 'introducing',
 'Denmark',
 'sight',
 'revenged',
 'solitude',
 'hungry',
 'laughter',
 'It',
 'flamboyantly',
 'murkier',
 'gestured',
 'Coloured',
 'acceptance',
 'always',
 'daring',
 'garden',
 'cures',
 'discovering',
 'weekend',
 'Dig',
 'distinction',
 'ardour',
 'land',
 "'em",
 'flames',
 'shroud',
 'root',
 'frightening',
 'affair',
 'model',
 'oh',
 'Germain-des-Pres',
 'support',
 'grave',
 'unsmiling',
 'decently',
 'cheated',
 ...}

In [83]:
for hathi_id in volume_ids:
    vol = Volume(hathi_id)
    print(hathi_id, vol.title)

uva.x000691804 Another country
mdp.39015041612683 Collected essays /
mdp.39015084118606 The devil finds work : an essay /
mdp.39015031598124 The fire next time /
uva.x002228607 Giovanni's room /
mdp.39015063278306 Go tell it on the mountain /
mdp.39015054289775 If Beale Street could talk /
mdp.39015046412022 Just above my head /
mdp.39015027359721 Little man, little man : a story of childhood /
mdp.39015019555161 Notes of a native son /

In [84]:
all_baldwin_tokens = []
for hathi_id in volume_ids:
    #Read in volume
    volume = Volume(hathi_id)
    
    #Make dataframe from token list
    token_df = volume.tokenlist(case=False, pos=False, page=False, drop_section=True, min_count=5)
    
    #Add book column
    token_df['book'] = volume.title
    
    #Add year column
    token_df['year'] = volume.year
    all_baldwin_tokens.append(token_df)

In [85]:
import pandas as pd

In [86]:
baldwin_df = pd.concat(all_baldwin_tokens)

In [87]:
baldwin_df

                 count                     book  year
page lowercase
1    ,0              1          Another country  1963
     bal             1          Another country  1963
     f               1          Another country  1963
     h               1          Another country  1963
     james           1          Another country  1963
...                ...                      ...   ...
222  the             1  Notes of a native son /  1990
     university      1  Notes of a native son /  1990
223  00              1  Notes of a native son /  1990
     i               1  Notes of a native son /  1990
     sep             1  Notes of a native son /  1990

[554065 rows x 3 columns]

In [120]:
baldwin_df_flattened = baldwin_df.reset_index()

In [121]:
baldwin_df_flattened.groupby(['book', 'year', 'lowercase'])[['count']].sum().reset_index()

                       book  year lowercase  count
0           Another country  1963         !    218
1           Another country  1963         &      2
2           Another country  1963         '   4527
3           Another country  1963        ''     32
4           Another country  1963    'cause      2
...                     ...   ...       ...    ...
69506  The fire next time /  1963        ºſ      2
69507  The fire next time /  1963       ºſº      1
69508  The fire next time /  1963        ſº     23
69509  The fire next time /  1963         …     10
69510  The fire next time /  1963       …--      1

[69511 rows x 4 columns]

In [122]:
word_frequency_df = baldwin_df_flattened.groupby(['book', 'year', 'lowercase'])[['count']].sum().reset_index()

In [123]:
STOPS = ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your', 'yours',
         'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', 'her', 'hers',
         'herself', 'it', 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves',
         'what', 'which', 'who', 'whom', 'this', 'that', 'these', 'those', 'am', 'is', 'are',
         'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does',
         'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until',
         'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into',
         'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down',
         'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here',
         'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more',
         'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so',
         'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', 'should', 'now', 've', 'll', 'amp', "!"]

Remove words that appear less than 5 times in a book

In [124]:
word_frequency_df = word_frequency_df[word_frequency_df['count'] > 5]

Remove punctuation

In [125]:
word_frequency_df = word_frequency_df.drop(word_frequency_df[word_frequency_df['lowercase'].str.contains('[^A-Za-z\s]', regex=True)].index)

Remove stopwords

In [126]:
word_frequency_df = word_frequency_df.drop(word_frequency_df[word_frequency_df['lowercase'].isin(STOPS)].index)

In [127]:
document_frequency_df = (word_frequency_df.groupby(['book','lowercase']).size().unstack(fill_value=0) > 0).sum().reset_index()

In [128]:
document_frequency_df = document_frequency_df.rename(columns={0:'document_frequency'})

In [129]:
word_frequency_df = word_frequency_df.merge(document_frequency_df)

In [130]:
word_frequency_df

,book,year,lowercase,count,document_frequency
0,Another country,1963,able,37,9
1,Collected essays /,1998,able,204,9
2,Giovanni's room /,1988,able,26,9
3,Go tell it on the mountain /,1995,able,25,9
4,If Beale Street could talk /,2000,able,21,9
...,...,...,...,...,...
13129,"Little man, little man : a story of childhood /",1976,wt,116,1
13130,Notes of a native son /,1990,autobiographical,9,1
13131,Notes of a native son /,1990,disorder,6,1
13132,The fire next time /,1963,e,19,1
13133,The fire next time /,1963,o,9,1

In [131]:
total_number_of_documents = baldwin_df_flattened['book'].nunique()

In [134]:
from math import log

In [135]:
word_frequency_df['tfidf'] = word_frequency_df['count'] * (log(total_number_of_documents) /  word_frequency_df['document_frequency']) + 1

In [159]:
word_frequency_df.sort_values(by='tfidf', ascending=False)[:100]

,book,year,lowercase,count,document_frequency,tfidf
12824,Just above my head /,1979,arthur,1646,1,3791.055063
7644,Another country,1963,vivaldo,856,1,1972.012840
2143,Another country,1963,eric,685,1,1578.270789
12950,Just above my head /,1979,julia,660,1,1520.706161
12886,Just above my head /,1979,crunch,636,1,1465.444119
...,...,...,...,...,...,...
171,Collected essays /,1998,also,422,9,108.965657
3992,Another country,1963,like,465,10,108.070207
13025,Just above my head /,1979,reed,46,1,106.918914
4331,Collected essays /,1998,many,413,9,106.663071
4422,Collected essays /,1998,men,410,9,105.895543

In [157]:
word_frequency_df.groupby(['book', 'lowercase'])[[ 'lowercase','tfidf']].sort_values(by='tfidf', ascending=False).nlargest(10)

AttributeError: 'DataFrameGroupBy' object has no attribute 'sort_values'

In [166]:
pd.set_option("max_rows", 500)

In [172]:
word_frequency_df.groupby('book')[['tfidf', 'lowercase']].nlargest(10).reset_index()

AttributeError: 'DataFrameGroupBy' object has no attribute 'nlargest'

In [175]:
word_frequency_df.groupby('book')[['tfidf', 'lowercase']].nlargest(10)

AttributeError: 'DataFrameGroupBy' object has no attribute 'nlargest'

In [178]:
def pretty_plot_top_n(series, top_n=5, index_level=0):
    
    r = series.groupby(level=index_level).nlargest(top_n).reset_index(level=index_level, drop=True)
    #r.plot.bar()
    return r.to_frame()


pretty_plot_top_n(word_frequency_df['tfidf'])

            tfidf
0       10.466183
1       53.191929
2        7.651912
3        7.396070
4        6.372699
...           ...
13129  268.099871
13130   21.723266
13131   14.815511
13132   44.749117
13133   21.723266

[13134 rows x 1 columns]

In [198]:
word_frequency_df[word_frequency_df['tfidf'] = word_frequency_df.groupby('book')['tfidf'].nlargest(5).reset_index(drop=True)]

SyntaxError: invalid syntax (<ipython-input-198-2047fc9298cb>, line 1)

In [215]:
word_frequency_df.sort_values(by=['book','tfidf'], ascending=False).groupby(['book']).head(15)

,book,year,lowercase,count,document_frequency,tfidf
9524,The fire next time /,1963,elijah,40,2,47.051702
7919,The fire next time /,1963,white,174,9,45.516645
13132,The fire next time /,1963,e,19,1,44.749117
4758,The fire next time /,1963,negro,70,4,41.295239
4948,The fire next time /,1963,one,157,10,37.150586
10803,The fire next time /,1963,negroes,38,3,30.166078
5159,The fire next time /,1963,people,110,10,26.328436
8858,The fire next time /,1963,christian,22,2,26.328436
1374,The fire next time /,1963,colour,20,2,24.025851
13133,The fire next time /,1963,o,9,1,21.723266
8156,The fire next time /,1963,would,71,9,19.164838
746,The fire next time /,1963,black,66,9,17.885624
4322,The fire next time /,1963,man,72,10,17.578613
1468,The fire next time /,1963,could,63,9,17.118096
4429,The fire next time /,1963,men,58,9,15.838882
2505,The devil finds work : an essay /,1976,film,203,4,117.856193
8639,The devil finds work : an essay /,1976,billie,51,2,59.715920
745,The devil finds work : an essay /,1976,black,190,9,49.610130
4947,The devil finds work : an essay /,1976,one,206,10,48.433253
7918,The devil finds work : an essay /,1976,white,182,9,47.563387
10434,The devil finds work : an essay /,1976,lawrence,24,2,28.631021
8155,The devil finds work : an essay /,1976,would,105,9,27.863493
12134,The devil finds work : an essay /,1976,theater,23,2,27.479729
11747,The devil finds work : an essay /,1976,sheriff,20,2,24.025851
4321,The devil finds work : an essay /,1976,man,98,10,23.565334
10028,The devil finds work : an essay /,1976,hero,19,2,22.874558
203,The devil finds work : an essay /,1976,american,75,8,22.586735
11188,The devil finds work : an essay /,1976,priest,18,2,21.723266
12364,The devil finds work : an essay /,1976,vian,18,2,21.723266
3967,The devil finds work : an essay /,1976,life,81,9,21.723266
4757,Notes of a native son /,1990,negro,239,4,138.579459
4946,Notes of a native son /,1990,one,334,10,77.906342
10802,Notes of a native son /,1990,negroes,87,3,67.774968
10787,Notes of a native son /,1990,native,48,2,56.262042
202,Notes of a native son /,1990,american,175,8,51.369049
8765,Notes of a native son /,1990,carmen,37,2,43.597824
8636,Notes of a native son /,1990,bigger,35,2,41.295239
7917,Notes of a native son /,1990,white,149,9,39.120575
8154,Notes of a native son /,1990,would,148,9,38.864733
10109,Notes of a native son /,1990,identity,29,2,34.387484
11269,Notes of a native son /,1990,protest,29,2,34.387484
5067,Notes of a native son /,1990,paris,70,5,33.236191
5157,Notes of a native son /,1990,people,139,10,33.005933
10841,Notes of a native son /,1990,notes,41,3,32.468663
3966,Notes of a native son /,1990,life,120,9,31.701135
13127,"Little man, little man : a story of childhood /",1976,tj,145,1,334.874838
13129,"Little man, little man : a story of childhood /",1976,wt,116,1,268.099871
13123,"Little man, little man : a story of childhood /",1976,blinky,63,1,146.062861
13122,"Little man, little man : a story of childhood /",1976,beanpole,33,1,76.985308
4631,"Little man, little man : a story of childhood /",1976,mr,38,2,44.749117
10464,"Little man, little man : a story of childhood /",1976,lee,30,2,35.538776
13125,"Little man, little man : a story of childhood /",1976,rope,11,1,26.328436
3998,"Little man, little man : a story of childhood /",1976,like,97,10,23.335075
5902,"Little man, little man : a story of childhood /",1976,say,95,10,22.874558
4519,"Little man, little man : a story of childhood /",1976,miss,63,7,21.723266
108,"Little man, little man : a story of childhood /",1976,ai,44,6,17.885624
13124,"Little man, little man : a story of childhood /",1976,bounce,7,1,17.118096
4319,"Little man, little man : a story of childhood /",1976,man,68,10,16.657579
2953,"Little man, little man : a story of childhood /",1976,got,64,10,15.736545
6469,"Little man, little man : a story of childhood /",1976,sometime,24,4,14.815511
12824,Just above my head /,1979,arthur,1646,1,3791.055063
12950,Just above my head /,1979,julia,660,1,1520.706161
12886,Just above my head /,1979,crunch,636,1,1465.444119
13004,Just above my head /,1979,peanut,308,1,710.196209
10340,Just above my head /,1979,jimmy,464,2,535.199742
12970,Just above my head /,1979,martha,162,1,374.018785
12944,Just above my head /,1979,joel,153,1,353.295519
5859,Just above my head /,1979,said,1170,9,300.336062
12819,Just above my head /,1979,amy,104,1,240.468850
3736,Just above my head /,1979,know,982,10,227.113856
12648,Just above my head /,1979,florence,187,2,216.291706
3997,Just above my head /,1979,like,762,10,176.456984
1465,Just above my head /,1979,could,683,9,175.740624
4944,Just above my head /,1979,one,734,10,170.009746
3043,Just above my head /,1979,guy,200,3,154.505673
12748,If Beale Street could talk /,2000,fonny,435,1,1002.624515
12789,If Beale Street could talk /,2000,sharon,156,1,360.203275
12804,If Beale Street could talk /,2000,tish,85,1,196.719733
12759,If Beale Street could talk /,2000,hunt,79,1,182.904222
12746,If Beale Street could talk /,2000,ernestine,70,1,162.180957
12756,If Beale Street could talk /,2000,hayward,68,1,157.575786
12735,If Beale Street could talk /,2000,adrienne,39,1,90.800819
5858,If Beale Street could talk /,2000,said,318,9,82.358007
9834,If Beale Street could talk /,2000,frank,103,3,80.055422
3735,If Beale Street could talk /,2000,know,305,10,71.228845
10358,If Beale Street could talk /,2000,joseph,84,3,65.472383
12795,If Beale Street could talk /,2000,sis,28,1,65.472383
12790,If Beale Street could talk /,2000,sheila,27,1,63.169798
12760,If Beale Street could talk /,2000,jaime,26,1,60.867212
9200,If Beale Street could talk /,2000,daniel,72,3,56.262042
12651,Go tell it on the mountain /,1995,gabriel,163,1,376.321370
12636,Go tell it on the mountain /,1995,elisha,157,1,362.505860
10348,Go tell it on the mountain /,1995,john,360,4,208.232658
12627,Go tell it on the mountain /,1995,deborah,90,1,208.232658
12647,Go tell it on the mountain /,1995,florence,158,2,182.904222
5857,Go tell it on the mountain /,1995,said,603,9,155.273201
9526,Go tell it on the mountain /,1995,elizabeth,116,2,134.549935
12700,Go tell it on the mountain /,1995,roy,104,2,120.734425
12638,Go tell it on the mountain /,1995,esther,50,1,116.129255
8151,Go tell it on the mountain /,1995,would,432,9,111.524084
105,Go tell it on the mountain /,1995,ai,262,6,101.546216
12606,Go tell it on the mountain /,1995,altar,42,1,97.708574
12677,Go tell it on the mountain /,1995,mccandless,42,1,97.708574
4159,Go tell it on the mountain /,1995,lord,302,8,87.922587
3995,Go tell it on the mountain /,1995,like,328,10,76.524791
9918,Giovanni's room /,1988,giovanni,313,2,361.354567
12575,Giovanni's room /,1988,jacques,130,1,300.336062
12573,Giovanni's room /,1988,hella,116,1,268.099871
12571,Giovanni's room /,1988,guillaume,105,1,242.771435
12600,Giovanni's room /,1988,tou,57,1,132.247350
5856,Giovanni's room /,1988,said,452,9,116.640940
12599,Giovanni's room /,1988,tm,30,1,70.077553
8150,Giovanni's room /,1988,would,227,9,59.076313
12566,Giovanni's room /,1988,ellen,24,1,56.262042
12576,Giovanni's room /,1988,joey,21,1,49.354287
3994,Giovanni's room /,1988,like,180,10,42.446532
4941,Giovanni's room /,1988,one,179,10,42.216273
1462,Giovanni's room /,1988,could,161,9,42.190689
3733,Giovanni's room /,1988,know,176,10,41.525498
12602,Giovanni's room /,1988,tve,16,1,37.841361
4940,Collected essays /,1998,one,2050,10,473.029944
4756,Collected essays /,1998,negro,689,4,397.620282
10801,Collected essays /,1998,negroes,389,3,299.568534
7912,Collected essays /,1998,white,1104,9,283.450438
5151,Collected essays /,1998,people,1175,10,271.553748
739,Collected essays /,1998,black,1053,9,270.402456
8149,Collected essays /,1998,would,938,9,240.980535
10602,Collected essays /,1998,martin,99,1,228.955924
12000,Collected essays /,1998,students,98,1,226.653339
198,Collected essays /,1998,american,734,8,212.262182
1461,Collected essays /,1998,could,794,9,204.139174
7229,Collected essays /,1998,time,737,10,170.700521
10836,Collected essays /,1998,norman,73,1,169.088712
4314,Collected essays /,1998,man,725,10,167.937419
3732,Collected essays /,1998,know,669,10,155.042943
7644,Another country,1963,vivaldo,856,1,1972.012840
2143,Another country,1963,eric,685,1,1578.270789
5822,Another country,1963,rufus,448,1,1032.558122
1129,Another country,1963,cass,426,1,981.901250
8242,Another country,1963,yves,243,1,560.528178
3493,Another country,1963,ida,440,2,507.568720
5854,Another country,1963,said,1308,9,335.642367
3926,Another country,1963,leona,123,1,284.217966
2060,Another country,1963,ellis,120,1,277.310211
5737,Another country,1963,richard,292,4,169.088712
3731,Another country,1963,know,655,10,151.819324
3592,Another country,1963,jane,64,1,148.365446
8148,Another country,1963,would,529,9,136.340835
4132,Another country,1963,looked,507,9,130.712294
1460,Another country,1963,could,453,9,116.896783

In [208]:
word_frequency_df.groupby('book')[['book','tfidf', 'lowercase']].reset_index().sort_values(by='tfidf')

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

In [168]:
word_frequency_df.sort_values(by=['book', 'tfidf'], ascending=False)[:100]

,book,year,lowercase,count,document_frequency,tfidf
9524,The fire next time /,1963,elijah,40,2,47.051702
7919,The fire next time /,1963,white,174,9,45.516645
13132,The fire next time /,1963,e,19,1,44.749117
4758,The fire next time /,1963,negro,70,4,41.295239
4948,The fire next time /,1963,one,157,10,37.150586
10803,The fire next time /,1963,negroes,38,3,30.166078
5159,The fire next time /,1963,people,110,10,26.328436
8858,The fire next time /,1963,christian,22,2,26.328436
1374,The fire next time /,1963,colour,20,2,24.025851
13133,The fire next time /,1963,o,9,1,21.723266
8156,The fire next time /,1963,would,71,9,19.164838
746,The fire next time /,1963,black,66,9,17.885624
4322,The fire next time /,1963,man,72,10,17.578613
1468,The fire next time /,1963,could,63,9,17.118096
4429,The fire next time /,1963,men,58,9,15.838882
10781,The fire next time /,1963,nation,25,4,15.391157
7820,The fire next time /,1963,way,62,10,15.276028
3740,The fire next time /,1963,know,60,10,14.815511
10311,The fire next time /,1963,islam,12,2,14.815511
7237,The fire next time /,1963,time,59,10,14.585252
204,The fire next time /,1963,american,46,8,14.239864
8121,The fire next time /,1963,world,51,9,14.047982
10757,The fire next time /,1963,muslim,11,2,13.664218
11912,The fire next time /,1963,spiritual,11,2,13.664218
5344,The fire next time /,1963,power,48,9,13.280454
211,The fire next time /,1963,americans,36,7,12.841866
3723,The fire next time /,1963,knew,42,9,11.745397
4338,The fire next time /,1963,many,41,9,11.489554
8274,The fire next time /,1963,achieved,9,2,11.361633
8372,The fire next time /,1963,allah,9,2,11.361633
4203,The fire next time /,1963,love,39,9,10.977869
1477,The fire next time /,1963,country,38,9,10.722026
1274,The fire next time /,1963,church,33,8,10.498164
5862,The fire next time /,1963,said,37,9,10.466183
4109,The fire next time /,1963,long,40,10,10.210340
7574,The fire next time /,1963,us,36,9,10.210340
10741,The fire next time /,1963,muhammad,8,2,10.210340
10785,The fire next time /,1963,nations,8,2,10.210340
12347,The fire next time /,1963,value,8,2,10.210340
4001,The fire next time /,1963,like,39,10,9.980082
2342,The fire next time /,1963,fact,35,9,9.954498
3968,The fire next time /,1963,life,35,9,9.954498
4667,The fire next time /,1963,must,34,9,9.698655
12115,The fire next time /,1963,terms,11,3,9.442812
178,The fire next time /,1963,also,33,9,9.442812
3458,The fire next time /,1963,human,28,8,9.059048
5531,The fire next time /,1963,r,7,2,9.059048
8393,The fire next time /,1963,amount,7,2,9.059048
9368,The fire next time /,1963,devils,7,2,9.059048
10759,The fire next time /,1963,muslims,7,2,9.059048
11272,The fire next time /,1963,proved,7,2,9.059048
11610,The fire next time /,1963,rule,7,2,9.059048
554,The fire next time /,1963,become,31,9,8.931126
2906,The fire next time /,1963,god,31,9,8.931126
4778,The fire next time /,1963,never,34,10,8.828789
11944,The fire next time /,1963,states,17,5,8.828789
8272,The fire next time /,1963,achieve,10,3,8.675284
11088,The fire next time /,1963,political,10,3,8.675284
2417,The fire next time /,1963,father,30,9,8.675284
4274,The fire next time /,1963,made,30,9,8.675284
5622,The fire next time /,1963,really,33,10,8.598531
9842,The fire next time /,1963,freedom,13,4,8.483402
12301,The fire next time /,1963,united,13,4,8.483402
8045,The fire next time /,1963,women,29,9,8.419441
8198,The fire next time /,1963,years,29,9,8.419441
2979,The fire next time /,1963,great,28,9,8.163598
4610,The fire next time /,1963,movement,9,3,7.907755
8861,The fire next time /,1963,christians,6,2,7.907755
9141,The fire next time /,1963,creation,6,2,7.907755
9245,The fire next time /,1963,deeply,6,2,7.907755
9450,The fire next time /,1963,dollars,6,2,7.907755
10045,The fire next time /,1963,historical,6,2,7.907755
10094,The fire next time /,1963,hundred,6,2,7.907755
10573,The fire next time /,1963,malcolm,9,3,7.907755
10767,The fire next time /,1963,n,9,3,7.907755
11576,The fire next time /,1963,risk,6,2,7.907755
2187,The fire next time /,1963,ever,29,10,7.677497
2431,The fire next time /,1963,fear,20,7,7.578815
5612,The fire next time /,1963,reality,17,6,7.523991
4641,The fire next time /,1963,much,25,9,7.396070
4990,The fire next time /,1963,order,25,9,7.396070
8219,The fire next time /,1963,yet,25,9,7.396070
2043,The fire next time /,1963,effort,11,4,7.332109
6465,The fire next time /,1963,something,27,10,7.216980
3335,The fire next time /,1963,history,16,6,7.140227
7866,The fire next time /,1963,well,24,9,7.140227
8553,The fire next time /,1963,authority,8,3,7.140227
9620,The fire next time /,1963,evidence,8,3,7.140227
12450,The fire next time /,1963,western,8,3,7.140227
3545,The fire next time /,1963,indeed,21,8,7.044286
5905,The fire next time /,1963,say,26,10,6.986721
1078,The fire next time /,1963,came,23,9,6.884384
7150,The fire next time /,1963,things,23,9,6.884384
7894,The fire next time /,1963,whatever,23,9,6.884384
7160,The fire next time /,1963,think,25,10,6.756463
1204,The fire next time /,1963,change,22,9,6.628541
6287,The fire next time /,1963,since,22,9,6.628541
7180,The fire next time /,1963,though,22,9,6.628541
2197,The fire next time /,1963,every,24,10,6.526204
4875,The fire next time /,1963,nothing,24,10,6.526204

In [162]:
word_frequency_df.groupby(['book', 'lowercase']).nlargest()

AttributeError: 'DataFrameGroupBy' object has no attribute 'nlargest'

In [18]:
inverse_document_frequency = (log(total_number_of_documents) / number_of_documents_with_term) + 1

In [ ]:
term_frequency * inverse_document_frequency

In [113]:
(word_frequency_df.groupby(['book','lowercase']).size().unstack(fill_value=0) > 0).groupby('book')

ValueError: 'book' is both an index level and a column label, which is ambiguous.

In [114]:
word_frequency_df

                       book  year   lowercase  count
142         Another country  1963        able     37
151         Another country  1963    abruptly     22
157         Another country  1963  absolutely     15
167         Another country  1963      accent      6
169         Another country  1963      accept     17
...                     ...   ...         ...    ...
69431  The fire next time /  1963       would     71
69446  The fire next time /  1963       years     29
69448  The fire next time /  1963         yes     12
69450  The fire next time /  1963         yet     25
69454  The fire next time /  1963       young     14

[13134 rows x 4 columns]

### Get Top n Words For Each Book

In [ ]:
def calculate_document_frequency(token):
    if token

In [1]:
baldwin_df_flattened

NameError: name 'baldwin_df_flattened' is not defined

In [ ]:
def calculate_document_frequency(current_token):

In [209]:
for book, token in baldwin_df_flattened.groupby('book')['token']:
    #if token == 'black':
    print(book, token.values)

Another country [',0' 'Bal' 'James' ... 'b"U' 'r' "■To'1W"]
Collected essays / ['BALDWIN' 'JAMES' 'AMERICA' ... 'SEP' 'i»a*"6' '£009']
Giovanni's room / ['.' '1988' '3552' ... 'PENN' 'STATE' 'UNIVERSITY']
Go tell it on the mountain / ['.' '>*H' 'Mfr' ... 'DEMCO' 'S' '.<***.']
If Beale Street could talk / ['ALE' 'BALDWIN' 'BE' ... 'vividly' 'work' 'yet']
Just above my head / ['*....' '.' 'J' ... 'هي' 'يم' 'يهم']
Little man, little man : a story of childhood / ['!' '*' '-' ... 'a—x' 'ft' 'r']
Notes of a native son / ['A' 'NATIVE' 'NOTES' ... '00' 'I' 'SEP']
The devil finds work : an essay / ['#' '&' "'" ... 'will' 'with' 'writer']
The fire next time / ['"' '",' '".' ... 'The' 'f' 't']

In [235]:
[x for x in baldwin_df_flattened.token.values if token in x]

TypeError: 'in <string>' requires string as left operand, not Series

array([',0', 'Bal', 'James', ..., '00', 'I', 'SEP'], dtype=object)

In [ ]:
len([x for x in df.tokens.values if token in x])) for token in tf.columns]

In [242]:
baldwin_df_flattened.groupby(['book','token']).size().unstack(fill_value=0)

token,!,!!,!!!,"!""--","""","""""7§::v",""""":","""'3'",""",","""-",...,ﬂying,ﬂypaper,！,！！,！！！,（,（~~,）,，,：
book,,,,,,,,,,,,,,,,,,,,,
Another country,137,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Collected essays /,161,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Giovanni's room /,78,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Go tell it on the mountain /,93,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
If Beale Street could talk /,50,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Just above my head /,756,1,2,1,2,1,1,1,0,2,...,6,1,5,1,1,1,1,4,4,4
"Little man, little man : a story of childhood /",11,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Notes of a native son /,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The devil finds work : an essay /,33,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
The fire next time /,28,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [238]:
(baldwin_df_flattened.groupby(['book','token']).size().unstack(fill_value=0) > 0).sum()

token
!       10
!!       1
!!!      1
!"--     1
"        4
        ..
（        1
（~~      1
）        1
，        1
：        1
Length: 29873, dtype: int64

In [239]:
baldwin_df_flattened.groupby(['book', 'token']).count()

                             page  section  pos  count  year  doc_frequency
book                 token
Another country      !        137      137  137    137   137            137
                     &          2        2    2      2     2              2
                     '        435      435  435    435   435            435
                     ''        26       26   26     26    26             26
                     'Cause     1        1    1      1     1              1
...                           ...      ...  ...    ...   ...            ...
The fire next time / …--        1        1    1      1     1              1
                     ■          1        1    1      1     1              1
                     ■"'        1        1    1      1     1              1
                     ■j         1        1    1      1     1              1
                     □          2        2    2      2     2              2

[77227 rows x 6 columns]

In [221]:
baldwin_df_flattened['doc_frequency'] = (baldwin_df_flattened.groupby(['book', 'token'])['token'].count() > 0).sum()
baldwin_df_flattened

,page,section,token,pos,count,book,year,doc_frequency
0,1,body,",0",CD,1,Another country,1963,77227
1,1,body,Bal,NN,1,Another country,1963,77227
2,1,body,James,NNP,1,Another country,1963,77227
3,1,body,Library,NNP,1,Another country,1963,77227
4,1,body,Virginia,NNP,1,Another country,1963,77227
...,...,...,...,...,...,...,...,...
885965,222,body,THE,UNK,1,Notes of a native son /,1990,77227
885966,222,body,UNIVERSITY,UNK,1,Notes of a native son /,1990,77227
885967,223,body,00,UNK,1,Notes of a native son /,1990,77227
885968,223,body,I,UNK,1,Notes of a native son /,1990,77227
885969,223,body,SEP,UNK,1,Notes of a native son /,1990,77227

In [198]:
(baldwin_df_flattened.groupby(['book', 'token'])['count'].sum() > 0).sum()

77227

In [157]:
total_number_of_documents

10

In [148]:
baldwin_df_flattened['book'].nunique()

10

In [154]:
len(baldwin_df_flattened.groupby(['book', 'token'])[['book', 'token']].count() > 0)

77227

In [11]:
from math import log

In [13]:
total_number_of_documents

10

In [ ]:
baldwin_df_flattened.groupby(['book', 'token'])[['count']].sum()

In [15]:
term_frequency

                             count
book                 token
Another country      !         218
                     &           2
                     '        4527
                     ''         32
                     'Cause      1
...                            ...
The fire next time / …--         1
                     ■           1
                     ■"'         1
                     ■j          1
                     □           7

[77227 rows x 1 columns]

In [14]:
term_frequency = baldwin_df_flattened.groupby(['book', 'token'])[['count']].sum()

In [16]:
number_of_documents_with_term = (baldwin_df_flattened.groupby(['book','token']).size().unstack(fill_value=0) > 0).sum()

In [17]:
number_of_documents_with_term

token
!       10
!!       1
!!!      1
!"--     1
"        4
        ..
（        1
（~~      1
）        1
，        1
：        1
Length: 29873, dtype: int64

In [19]:
inverse_document_frequency

token
!       1.230259
!!      3.302585
!!!     3.302585
!"--    3.302585
"       1.575646
          ...
（       3.302585
（~~     3.302585
）       3.302585
，       3.302585
：       3.302585
Length: 29873, dtype: float64

In [18]:
inverse_document_frequency = (log(total_number_of_documents) / number_of_documents_with_term) + 1

In [ ]:
term_frequency * inverse_document_frequency

In [142]:
baldwin_df_flattened.groupby(['token'])[['count']].sum()

       count
token
!       2436
!!         1
!!!        2
!"--       1
"         11
...      ...
（          1
（~~        1
）          6
，         15
：          8

[29873 rows x 1 columns]

In [143]:
baldwin_df_flattened.groupby(['book', 'token'])[['count']].sum() / baldwin_df_flattened.groupby(['token'])[['count']].sum()

                                count
book                 token
Another country      !       0.089491
                     &       0.044444
                     '       0.571158
                     ''      0.001802
                     'Cause  0.250000
...                               ...
The fire next time / …--     1.000000
                     ■       0.041667
                     ■"'     1.000000
                     ■j      1.000000
                     □       0.875000

[77227 rows x 1 columns]

In [ ]:
term_frequency = 30 ##number of times "pigeons" appears in "The Girl Who Raised Pigeons"
inverse_document_frequency = log(total_number_of_documents / number_of_documents_with_term) + 1

In [139]:
baldwin_df_flattened.groupby(['book', 'token'])[['count']].sum().groupby('book').to_numpy().shape

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_numpy'

In [126]:
baldwin_df_flattened.groupby(['book', 'token'])[['count']].sum().groupby('book')['count'].nlargest(100).droplevel(0).reset_index()

                     book   token  count
0         Another country       ,  13376
1         Another country       .  10789
2         Another country     the   5745
3         Another country     and   4849
4         Another country       '   4527
..                    ...     ...    ...
995  The fire next time /    knew     84
996  The fire next time /     how     83
997  The fire next time /   other     83
998  The fire next time /  Elijah     80
999  The fire next time /    long     78

[1000 rows x 3 columns]

In [56]:
baldwin_df.groupby(level=['token'], 'book')[['count']].sum().sort_values(by='count', ascending=False)[:100]

SyntaxError: positional argument follows keyword argument (<ipython-input-56-b77946377ddb>, line 1)

In [53]:
baldwin_df.groupby(level='token')[['count']].sum().sort_values(by='count', ascending=False)[:100]

         count
token
,       147523
.        83846
the      66948
and      49906
to       43659
I        37319
of       30582
a        27787
in       22632
that     21247
was      20344
``       17856
''       17760
he       16606
it       15918
you      14888
--       14739
not      13112
is       13108
his      12979
had      12440
's       11379
for      10407
n't      10338
me       10241
with      9826
on        9621
her       9295
be        9261
at        8994
as        8695
him       8426
she       8221
this      8100
my        7985
'         7926
?         7659
He        7634
said      7194
they      7118
have      7010
do        6920
`         6859
all       6835
but       6477
or        5810
one       5758
we        5735
which     5735
;         5714
:         5666
know      5396
were      5374
The       5368
been      5062
what      5025
Arthur    4938
And       4935
from      4858
did       4831
so        4610
would     4576
out       4477
like      4370
by        4328
could     4320
are       4269
She       4121
up        4116
about     4033
It        4032
no        4029
them      3952
who       3831
But       3801
there     3730
very      3708
can       3698
-         3694
their     3661
time      3569
You       3191
more      3163
people    3163
into      3090
down      3070
when      3032
now       3025
has       3012
never     2956
then      2809
if        2798
an        2681
just      2631
looked    2629
back      2625
see       2591
man       2563
than      2528
white     2524

In [38]:
baldwin_df.sort_values(by='count', ascending=False)

                             count                     book  year
page section token      pos
120  body    -          UNK   1035     The fire next time /  1963
1    body    -          UNK    835     The fire next time /  1963
             º          UNK    515     The fire next time /  1963
120  body    .          UNK    298     The fire next time /  1963
414  body    ,          ,       85     Just above my head /  1979
...                            ...                      ...   ...
63   body    for        IN       1        Giovanni's room /  1988
             forever    RB       1        Giovanni's room /  1988
             friendship NN       1        Giovanni's room /  1988
             gave       VBD      1        Giovanni's room /  1988
223  body    SEP        UNK      1  Notes of a native son /  1990

[885970 rows x 3 columns]

In [80]:
baldwin_df_flattened

        page section       token  pos  count                     book  year
0          1    body          ,0   CD      1          Another country  1963
1          1    body         Bal   NN      1          Another country  1963
2          1    body       James  NNP      1          Another country  1963
3          1    body     Library  NNP      1          Another country  1963
4          1    body    Virginia  NNP      1          Another country  1963
...      ...     ...         ...  ...    ...                      ...   ...
885965   222    body         THE  UNK      1  Notes of a native son /  1990
885966   222    body  UNIVERSITY  UNK      1  Notes of a native son /  1990
885967   223    body          00  UNK      1  Notes of a native son /  1990
885968   223    body           I  UNK      1  Notes of a native son /  1990
885969   223    body         SEP  UNK      1  Notes of a native son /  1990

[885970 rows x 7 columns]

In [109]:
baldwin_df_flattened.book.value_counts()

Just above my head /                               358778
Collected essays /                                 191672
Another country                                     86902
Giovanni's room /                                   70659
Go tell it on the mountain /                        49141
Notes of a native son /                             35212
If Beale Street could talk /                        32503
The fire next time /                                32000
The devil finds work : an essay /                   23595
Little man, little man : a story of childhood /      5508
Name: book, dtype: int64

In [101]:
baldwin_df_flattened.groupby(['book', 'token'])[['count', 'book']].sum().sort_values(by=[ 'book', 'count'], ascending=False).nlargest(10, columns=[ 'count'])

                            count
book                 token
Just above my head / ,      68594
                     .      38798
Collected essays /   ,      29725
Just above my head / the    24500
                     and    21454
                     I      18758
Collected essays /   the    18155
Just above my head / to     17375
Another country      ,      13376
Collected essays /   .      12924

In [ ]:
https://babel.hathitrust.org/cgi/mb?a=listis;c=447365647

## Get Metadata

In [5]:
volume.title

'Lost in the city : stories /'

In [6]:
volume.year

1993

In [7]:
volume.page_count

260

In [8]:
volume.publisher

'HarperPerennial'

In [9]:
volume.handle_url

'http://hdl.handle.net/2027/mdp.39015029970129'

In [16]:
volume.parser.meta

{'id': 'mdp.39015029970129',
 'metadata_schema_version': 'https://schemas.hathitrust.org/EF_Schema_MetadataSubSchema_v_3.0',
 'enumeration_chronology': None,
 'type_of_resource': 'http://id.loc.gov/ontologies/bibframe/Text',
 'title': 'Lost in the city : stories /',
 'date_created': 20200209,
 'pub_date': 1993,
 'language': 'eng',
 'access_profile': 'google',
 'isbn': '0060975571',
 'issn': None,
 'lccn': '92054781',
 'oclc': '27685090',
 'page_count': 260,
 'feature_schema_version': 'https://schemas.hathitrust.org/EF_Schema_FeaturesSubSchema_v_3.0',
 'access_rights': 'ic',
 'alternate_title': None,
 'category': 'American literature',
 'genre_ld': ['http://id.loc.gov/vocabulary/marcgt/doc',
  'http://id.loc.gov/vocabulary/marcgt/fic'],
 'genre': ['document (computer)', 'fiction'],
 'contributor_ld': {'id': 'http://www.viaf.org/viaf/114552168',
  'type': 'http://id.loc.gov/ontologies/bibframe/Person',
  'name': 'Jones, Edward P.'},
 'contributor': 'Jones, Edward P.',
 'handle_url': 'http://hdl.handle.net/2027/mdp.39015029970129',
 'source_institution_ld': {'type': 'http://id.loc.gov/ontologies/bibframe/Organization',
  'name': 'MIU'},
 'source_institution': 'MIU',
 'lcc': 'PS3560.O4813L67 1993',
 'type': ['DataFeedItem', 'Book'],
 'is_part_of': None,
 'last_rights_update_date': 20170725,
 'pub_place_ld': {'id': 'http://id.loc.gov/vocabulary/countries/nyu',
  'type': 'http://id.loc.gov/ontologies/bibframe/Place',
  'name': 'New York (State)'},
 'pub_place': 'New York (State)',
 'main_entity_of_page': ['https://catalog.hathitrust.org/Record/002724042',
  'http://catalog.hathitrust.org/api/volumes/brief/oclc/27685090.json',
  'http://catalog.hathitrust.org/api/volumes/full/oclc/27685090.json'],
 'publisher_ld': {'id': 'http://catalogdata.library.illinois.edu/lod/entities/ProvisionActivityAgent/ht/HarperPerennial',
  'type': 'http://id.loc.gov/ontologies/bibframe/Organization',
  'name': 'HarperPerennial'},
 'publisher': 'HarperPerennial'}

All possible metadata categories

In [18]:
volume.parser.meta.keys()

dict_keys(['id', 'metadata_schema_version', 'enumeration_chronology', 'type_of_resource', 'title', 'date_created', 'pub_date', 'language', 'access_profile', 'isbn', 'issn', 'lccn', 'oclc', 'page_count', 'feature_schema_version', 'access_rights', 'alternate_title', 'category', 'genre_ld', 'genre', 'contributor_ld', 'contributor', 'handle_url', 'source_institution_ld', 'source_institution', 'lcc', 'type', 'is_part_of', 'last_rights_update_date', 'pub_place_ld', 'pub_place', 'main_entity_of_page', 'publisher_ld', 'publisher'])

## Work With Tokens

In [10]:
volume.tokenlist()

                          count
page section token   pos
1    body    ,       ,        1
             .046    CD       1
             1993    CD       1
             3560    CD       1
             AWARD   NN       1
...                         ...
260  body    world   NN       2
             would   MD       1
             writers NNS      1
             written VBN      1
             •       SYM      1

[51297 rows x 1 columns]

In [14]:
volume.tokenlist(page=False, section=None, pos=False)

ERROR:root:Invalid section argument: None

In [62]:
import pandas as pd

In [52]:
pd.set_option("max_rows", 600)

In [10]:
lost_df = volume.tokenlist()

In [98]:
lost_df.columns

Index(['count'], dtype='object')

In [99]:
lost_df

                   count
section lowercase
body    !            116
        "              1
        #22>           1
        $              4
        %              2
...                  ...
        •*♦:           1
        €              1
        ™              5
        ■             18
        ■^             1

[6994 rows x 1 columns]

In [126]:
lost_df.query('page == 41')

                                          count
page section token                 pos
41   body    !                     .          1
             &                     CC         1
             'd                    MD         2
             'll                   MD         1
             's                    POS        1
             ,                     ,         11
             -LSB-                 -LRB-      1
             .                     .          4
             13th                  JJ         1
             At                    IN         1
             CarU                  NNP        1
             Cassandra             NNP        3
             Chesterfields         NNS        1
             Christmas             NNP        1
             English               JJ         1
             FERGUSON              NNP        1
             High                  NNP        1
             I                     PRP        1
             KILLED                NNP        1
             Lewis                 NNP        1
             NIGHT                 NNP        1
             Potential             JJ         1
             RHONDA                NNP        1
             School                NNP        1
             She                   PRP        3
             StreetfwaFnowjblowing NN         1
             THE                   DT         1
             U.                    NNP        1
             WAS                   NNP        1
             \                     SYM        1
             ^                     CD         1
                                   NN         1
                                   VBD        1
             a                     DT         3
             after                 IN         1
             all                   PDT        2
             and                   CC         9
             as                    IN         1
             assandra              FW         1
             away                  RB         1
             back                  NN         1
             bark                  VB         1
             because               IN         1
             been                  VBN        4
             behind                IN         2
             bored                 JJ         1
             boys                  NNS        1
             brick                 NN         1
             butts                 NNS        1
             called                VBD        1
             candy                 NN         2
             cigarette             NN         1
             class                 NN         1
             come                  VB         2
             coming                VBG        1
             done                  VBN        1
             dozo                  NNP        1
             eating                VBG        2
             end                   NN         1
             f                     LS         1
             fTank                 JJ         1
             face                  NN         1
             feet                  NNS        1
             floor                 NN         1
             for                   IN         1
             get                   VB         1
             getting               VBG        1
             girl                  NN         2
             goddamn               JJ         1
             grass                 NN         1
             had                   VBD        6
             her                   PRP        2
                                   PRP$       7
             here                  RB         1
             homeroom              NN         1
             hoping                VBG        1
             in                    IN         3
             it                    PRP        1
             l                     NN         1
             life                  NN         1
             look                  VB         1
             low                   JJ         1
             lunch                 NN         1
             match                 NN         1
             more                  JJR        1
             morning               NN         1
             n't                   RB         2
             nearing               VBG        1
             now                   RB         1
             of                    IN         4
             on                    IN         7
             other                 JJ         1
             out                   RP         3
             outside               IN         1
             period                NN         2
             phe                   NN         1
             pile                  NN         2
             plack                 NN         1
             popped                VBN        1
             potential             NN         1
             rucl                  NN         1
             sat                   VBD        1
             second                JJ         1
             second-period         JJ         1
             see                   VB         1
             seventh               JJ         1
             she                   PRP        2
             shit                  NN         1
             show                  VB         1
             side                  NN         1
             sidewalk              NN         1
             since                 IN         1
             small                 JJ         1
             smoking               NN         1
                                   VBG        1
             stems                 VBZ        1
             teacher               NN         3
             that                  DT         1
                                   IN         1
             the                   DT        20
             there                 RB         2
             thought               VBN        1
             time                  NN         1
             to                    TO         2
             two-year-old          JJ         1
             up                    RP         1
             waiting               VBG        1
             wall                  NN         4
             was                   VBD        5
             wasting               VBG        1
             when                  WRB        1
             wind                  NN         1
             window                NN         1
             with                  IN         1
             woman                 NN         1
             world                 NN         1
             would                 MD         1
             wrappers              NNS        1
             ~                     NN         1

In [90]:
lost_df.query('token == "pigeon"')

                         count
page section token  pos
11   body    pigeon NN       1
13   body    pigeon NN       1
15   body    pigeon NN       1
20   body    pigeon NN       3
23   body    pigeon NN       2
24   body    pigeon NN       1
28   body    pigeon NN       2
31   body    pigeon NN       1
32   body    pigeon NN       1
34   body    pigeon NN       1

In [64]:
volume.tokenlist()[:100]

                                    count
page section token           pos
1    body    ,               ,          1
             .046            CD         1
             1993            CD         1
             3560            CD         1
             AWARD           NN         1
             BY              IN         1
             Edward          NNP        1
             Exhale          VB         1
             His             PRP$       1
             Jones           NNP        1
             L6              NN         1
             Macmillan       NNP        1
             OF              IN         1
             P.              NNP        1
             PEN/HEMINGWAY   NN         1
             PS              NNP        1
             STORIES         NNS        1
             THE             DT         1
             Terry           NNP        1
             UGL             NNP        1
             Waiting         VBG        1
             a               DT         1
             author          NN         1
             collection      NN         1
             commanding      JJ         1
             has             VBZ        1
             of              IN         2
             stories         NNS        1
             to              TO         1
             voice           NN         1
2    body    #22>            UNK        1
             '               UNK        1
             sy&rr_3s£       UNK        1
3    body    "               UNK        1
             '               UNK        1
             *               UNK        2
             *•              UNK        1
             *••'«•          UNK        1
             ,               UNK        1
             .               UNK        1
             .,'             UNK        1
             4               UNK        1
             :               UNK        1
             A               UNK        1
             IN              UNK        1
             L0ST            UNK        1
             Man11           UNK        1
             THE             UNK        1
             U               UNK        1
             V               UNK        2
             V^<V            UNK        1
             ^C/l*^*'*       UNK        1
             iUtV,'.S        UNK        1
             v               UNK        1
             £>Ov            UNK        1
             •               UNK        2
             •*♦:            UNK        1
             ■               UNK        1
4    body    .               UNK        1
             _               UNK        1
5    body    A               NNP        1
             AMOS            NNP        1
             BY              NNP        1
             CHAN            NNP        1
             CITY            NN         1
             Division        NNP        1
             EDWARD          NNP        1
             HarperCol       NNP        1
             HarperPerennial NNP        1
             IN              IN         1
             JONES           NNP        1
             LOST            NNP        1
             P.              NNP        1
             PHOTOGRAPHS     NNPS       1
             S.t.or.i.e.s    NNS        1
             THE             DT         1
             \               SYM        1
             by              IN         1
             insPub!ishers   NNS        1
             mm              NN         1
             of              IN         1
6    body    '               ''         1
             ''              ''         5
             'm              VBP        2
             *               SYM        1
             ,               ,         43
             --              :          2
             -LRB-           -LRB-      8
             -LSB-           -LRB-      1
             -RCB-           -RRB-      1
             -RRB-           -RRB-      7
             -RSB-           -RRB-      1
             .               .         37
             .54             CD         1
             /               :          1
             0-06-097557-1   CD         1
             1               CD         2
             10              CD         2
             10022           CD         2
             10 987654321    CD         1

In [11]:
lost_df_flattened = lost_df.reset_index()

In [ ]:
lost_df_flattened[lost_df_flattened['token'] == "LIONS"]

In [222]:
lost_df_flattened[lost_df_flattened['token'] == "TRAIN"]

       page section  token pos  count chapter
22506   113    body  TRAIN  NN      1    None

In [232]:
lost_df_flattened[lost_df_flattened['token'] == "DAY"]

      page section token  pos  count             chapter
5796    35    body   DAY  NNP      1  Ch2: The First Day

In [227]:
lost_df_flattened[lost_df_flattened['page'] == 117]

       page section           token   pos  count chapter
23058   117    body              ''    ''      7    None
23059   117    body             're   VBP      1    None
23060   117    body              's   POS      4    None
23061   117    body              's   VBZ      1    None
23062   117    body               ,     ,     21    None
23063   117    body               .     .     25    None
23064   117    body            12th    JJ      4    None
23065   117    body            13th    JJ      1    None
23066   117    body            13th   NNP      1    None
23067   117    body            14th    JJ      1    None
23068   117    body               :     :      1    None
23069   117    body               ?     .      2    None
23070   117    body              At    IN      1    None
23071   117    body            Avis   NNP      5    None
23072   117    body        Birthday    NN      1    None
23073   117    body            Both    DT      1    None
23074   117    body         Company   NNP      1    None
23075   117    body            Fine   NNP      1    None
23076   117    body        Franklin   NNP      1    None
23077   117    body          Friday   NNP      1    None
23078   117    body               H    NN      1    None
23079   117    body              He   PRP      1    None
23080   117    body             Her  PRP$      1    None
23081   117    body         Horizon   NNP      1    None
23082   117    body           House   NNP      1    None
23083   117    body             How   WRB      1    None
23084   117    body               I   PRP      2    None
23085   117    body              If    IN      1    None
23086   117    body              It   PRP      2    None
23087   117    body               K    NN      1    None
23088   117    body          Marcus   NNP      3    None
23089   117    body        Marvella   NNP      6    None
23090   117    body          Marvin   NNP      1    None
23091   117    body       McPherson   NNP      1    None
23092   117    body              No    DT      1    None
23093   117    body             Now    RB      1    None
23094   117    body            Park   NNP      1    None
23095   117    body          School   NNP      1    None
23096   117    body             She   PRP      4    None
23097   117    body          Square   NNP      2    None
23098   117    body           Still    RB      1    None
23099   117    body          Street    NN      4    None
23100   117    body          Street   NNP      1    None
23101   117    body            That    DT      1    None
23102   117    body            They   PRP      2    None
23103   117    body        Thompson   NNP      1    None
23104   117    body       TjJephQQg   NNP      1    None
23105   117    body              Up    IN      1    None
23106   117    body      Washington   NNP      1    None
23107   117    body            With    IN      1    None
23108   117    body             Yep   NNP      1    None
23109   117    body             You   PRP      1    None
23110   117    body               ^    NN      1    None
23111   117    body              ``    ``      7    None
23112   117    body               a    DT      4    None
23113   117    body           about    IN      1    None
23114   117    body          across    IN      2    None
23115   117    body           aisle    NN      1    None
23116   117    body           alley    NN      1    None
23117   117    body          almost    RB      1    None
23118   117    body              an    DT      1    None
23119   117    body             and    CC     18    None
23120   117    body       apartment    NN      1    None
23121   117    body             arm    NN      1    None
23122   117    body            arms   NNS      1    None
23123   117    body          around    IN      1    None
23124   117    body          around    RP      1    None
23125   117    body              as    IN      4    None
23126   117    body              at    IN      2    None
23127   117    body            back    NN      1    None
23128   117    body            back    RB      3    None
23129   117    body              be    VB      2    None
23130   117    body         because    IN      1    None
23131   117    body            been   VBN      1    None
23132   117    body          before    IN      1    None
23133   117    body           began   VBD      1    None
23134   117    body           begin    VB      1    None
23135   117    body           block    NN      1    None
23136   117    body          blocks   NNS      1    None
23137   117    body          blocks   VBZ      1    None
23138   117    body            boys   NNS      3    None
23139   117    body        building    NN      1    None
23140   117    body             but    CC      1    None
23141   117    body            came   VBD      1    None
23142   117    body         carried   VBD      1    None
23143   117    body           carry    VB      1    None
23144   117    body           child    NN      1    None
23145   117    body        children   NNS      1    None
23146   117    body        daughter    NN      1    None
23147   117    body             day    NN      2    None
23148   117    body             did   VBD      1    None
23149   117    body           doing   VBG      1    None
23150   117    body            down    RB      2    None
23151   117    body      dreadlocks   NNS      1    None
23152   117    body           eight    CD      1    None
23153   117    body        elevator    NN      1    None
23154   117    body         entered   VBD      1    None
23155   117    body            fall    VB      1    None
23156   117    body           fewer   JJR      1    None
23157   117    body       forgotten   VBN      1    None
23158   117    body            from    IN      2    None
23159   117    body              go    VB      1    None
23160   117    body            goin   VBP      1    None
23161   117    body           going   VBG      1    None
23162   117    body            good    JJ      3    None
23163   117    body        good-bye    NN      1    None
23164   117    body             got   VBD      2    None
23165   117    body             had   VBD      4    None
23166   117    body            hair    NN      1    None
23167   117    body            hand    NN      2    None
23168   117    body            hard    JJ      1    None
23169   117    body              he   PRP      3    None
23170   117    body         heading   VBG      1    None
23171   117    body            held   VBD      2    None
23172   117    body             her   PRP      1    None
23173   117    body             her  PRP$      6    None
23174   117    body             him   PRP      1    None
23175   117    body         holiday    NN      1    None
23176   117    body             huh    RB      1    None
23177   117    body              if    IN      3    None
23178   117    body              in    IN      4    None
23179   117    body          inside    RB      1    None
23180   117    body              it   PRP      7    None
23181   117    body            just    RB      1    None
23182   117    body           known   VBN      1    None
23183   117    body         leading   VBG      1    None
23184   117    body           lived   VBD      1    None
23185   117    body            made   VBD      1    None
23186   117    body             man    NN      4    None
23187   117    body              me   PRP      1    None
23188   117    body            mean   VBP      1    None
23189   117    body         meeting   VBG      1    None
23190   117    body          minute    NN      1    None
23191   117    body          moment    NN      1    None
23192   117    body         morning    NN      2    None
23193   117    body          mother    NN      2    None
23194   117    body            next    JJ      1    None
23195   117    body            nice    JJ      1    None
23196   117    body              of    IN      6    None
23197   117    body             off    RP      1    None
23198   117    body              on    IN      2    None
23199   117    body             one    CD      2    None
23200   117    body              or    CC      2    None
23201   117    body           other    JJ      1    None
23202   117    body             out    IN      1    None
23203   117    body               p    NN      1    None
23204   117    body          people   NNS      1    None
23205   117    body         perhaps    RB      1    None
23206   117    body         planned   VBN      1    None
23207   117    body      pocketbook    NN      2    None
23208   117    body             put   VBD      1    None
23209   117    body            rain    NN      1    None
23210   117    body         raining   VBG      1    None
23211   117    body  representative    NN      1    None
23212   117    body            rift    NN      1    None
23213   117    body             run   VBP      1    None
23214   117    body            said   VBD      4    None
23215   117    body            same    JJ      1    None
23216   117    body             sat   VBD      1    None
23217   117    body             saw   VBD      1    None
23218   117    body          school    NN      1    None
23219   117    body            seat    NN      1    None
23220   117    body          second    JJ      1    None
23221   117    body             see    VB      2    None
23222   117    body             see   VBP      1    None
23223   117    body         service    NN      1    None
23224   117    body          shared   VBD      2    None
23225   117    body         sharing   VBG      1    None
23226   117    body             she   PRP      5    None
23227   117    body        shoulder    NN      1    None
23228   117    body            sign    NN      2    None
23229   117    body              so    RB      2    None
23230   117    body          stairs   NNS      1    None
23231   117    body            stop    VB      1    None
23232   117    body           stops   NNS      1    None
23233   117    body           strap    NN      1    None
23234   117    body          street    NN      1    None
23235   117    body          subway    NN      1    None
23236   117    body        supposed   VBN      1    None
23237   117    body            that    DT      1    None
23238   117    body            that    IN      3    None
23239   117    body             the    DT     32    None
23240   117    body           their  PRP$      1    None
23241   117    body            them   PRP      1    None
23242   117    body           there    EX      1    None
23243   117    body            they   PRP      3    None
23244   117    body          thirty    CD      1    None
23245   117    body         thought   VBD      1    None
23246   117    body         through    IN      2    None
23247   117    body            time    NN      1    None
23248   117    body           tired   VBN      1    None
23249   117    body              to    TO      9    None
23250   117    body           today    NN      1    None
23251   117    body            told   VBD      1    None
23252   117    body        tomorrow    NN      2    None
23253   117    body             too    RB      1    None
23254   117    body            took   VBD      1    None
23255   117    body            turn   VBP      1    None
23256   117    body             two    CD      2    None
23257   117    body        umbrella    NN      2    None
23258   117    body              up    IN      1    None
23259   117    body              up    RP      2    None
23260   117    body             was   VBD      7    None
23261   117    body         watched   VBD      1    None
23262   117    body             way    NN      1    None
23263   117    body              we   PRP      1    None
23264   117    body         weather    NN      1    None
23265   117    body         weekend    NN      1    None
23266   117    body            went   VBD      1    None
23267   117    body            were   VBD      3    None
23268   117    body            when   WRB      1    None
23269   117    body           where   WRB      3    None
23270   117    body            wide    JJ      1    None
23271   117    body            will    MD      1    None
23272   117    body            with    IN      2    None
23273   117    body           would    MD      1    None
23274   117    body         wrapped   VBD      1    None
23275   117    body             you   PRP      2    None
23276   117    body             zoo    NN      1    None

In [132]:
lost_df_flattened.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51297 entries, 0 to 51296
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   page     51297 non-null  uint64
 1   section  51297 non-null  object
 2   token    51297 non-null  object
 3   pos      51297 non-null  object
 4   count    51297 non-null  uint32
dtypes: object(3), uint32(1), uint64(1)
memory usage: 1.8+ MB

In [12]:
def add_chapter_titles(page):
    if page >= 11 and page < 35:
        return "Ch1: The Girl Who Raised Pigeons"
    elif page >= 35 and page < 41:
        return "Ch2: The First Day"
    elif page >= 41 and page < 63:
        return "Ch3: The Night Rhonda Ferguson Was Killed"
    elif page >= 63 and page < 85:
        return "Ch4: Young Lions"
    elif page >= 85 and page < 113:
        return "Ch5: The Store"
    elif page >= 113 and page < 125:
        return "Ch6: An Orange Line Train to Ballston"
    elif page >= 125 and page < 149:
        return "Ch7: The Sunday Following Mother's Day"
    elif page >= 149 and page < 159:
        return "Ch8: Lost in the City"
    elif page >= 159 and page < 184:
        return "Ch9: His Mother's House"
    elif page >= 184 and page < 191:
        return "Ch10: A Butterfly on F Street"
    elif page >= 191 and page < 209:
        return "Ch11: Gospel"
    elif page >= 209 and page < 225:
        return "Ch12: A New Man"
    elif page >= 225 and page < 237:
        return "Ch13: A Dark Night"
    elif page >= 237:
        return "Ch14: Marie"

In [13]:
lost_df_flattened['chapter'] = lost_df_flattened['page'].apply(add_chapter_titles)

In [9]:
lost_df_flattened['chapter'].value_counts()

Ch5: The Store                               6467
Ch9: His Mother's House                      5406
Ch1: The Girl Who Raised Pigeons             5382
Ch7: The Sunday Following Mother's Day       5228
Ch4: Young Lions                             4660
Ch3: The Night Rhonda Ferguson Was Killed    4469
Ch11: Gospel                                 3980
Ch14: Marie                                  3470
Ch12: A New Man                              3082
Ch13: A Dark Night                           2547
Ch8: Lost in the City                        2162
Ch6: An Orange Line Train to Ballston        1985
Ch2: The First Day                           1101
Ch10: A Butterfly on F Street                 956
Name: chapter, dtype: int64

In [249]:
lost_df_flattened

       page section    token  pos  count      chapter
0         1    body        ,    ,      1         None
1         1    body     .046   CD      1         None
2         1    body     1993   CD      1         None
3         1    body     3560   CD      1         None
4         1    body    AWARD   NN      1         None
...     ...     ...      ...  ...    ...          ...
51292   260    body    world   NN      2  Ch14: Marie
51293   260    body    would   MD      1  Ch14: Marie
51294   260    body  writers  NNS      1  Ch14: Marie
51295   260    body  written  VBN      1  Ch14: Marie
51296   260    body        •  SYM      1  Ch14: Marie

[51297 rows x 6 columns]

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
v = TfidfVectorizer()
x = v.fit_transform(df['sent'])

In [251]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [253]:
from sklearn.feature_extraction.text import TfidfTransformer

In [255]:
tfidf_transformer = TfidfTransformer()

In [ ]:
from numpy import log
def tfidf(x):
    return x * log(1+vol.page_count / x.count())

In [ ]:
# Will take a few seconds to run, depending on your system
idf_scores = lost_df_flattened.groupby(level=["token"]).transform(tfidf)

In [262]:
lost_df.groupby(level=["token"]).count()

       count
token
!         55
"          1
#22>       1
$          3
%          2
...      ...
•*♦:       1
€          1
™          4
■         10
■^         1

[7627 rows x 1 columns]

In [265]:
len(lost_df_flattened['chapter'].unique())

15

In [ ]:
document_frequency = lost_df_flattened['chapter'].

In [14]:
def calculate_tfidf(term_frequency):
    return term_frequency * log(1+14 / term_frequency.count())

In [ ]:
log(total_number_of_documents / number_of_documents_with_term) + 1

In [ ]:
lost_df_flattened.groupby(['chapter', 'token'])['count'].count().transform(calculate_tfidf)['count']

In [269]:
lost_df.groupby(level=["token"]).count()

       count
token
!         55
"          1
#22>       1
$          3
%          2
...      ...
•*♦:       1
€          1
™          4
■         10
■^         1

[7627 rows x 1 columns]

In [ ]:
lost_df_flattened.groupby(['chapter', 'token']).count()

In [16]:
from numpy import log
def tfidf(x):
    return x * log(1+volume.page_count / x.count())



# Will take a few seconds to run, depending on your system
idf_scores = lost_df.groupby(level=["token"]).transform(tfidf)
idf_scores

                             count
page section token   pos
1    body    ,       ,    0.747214
             .046    CD   5.564520
             1993    CD   4.875197
             3560    CD   5.564520
             AWARD   NN   4.875197
...                            ...
260  body    world   NN   2.699853
             would   MD   0.874572
             writers NNS  5.564520
             written VBN  3.397487
             •       SYM  3.970292

[51297 rows x 1 columns]

In [256]:
tfidf_transformer.fit_transform(lost_df_flattened[['token', 'count']])

ValueError: could not convert string to float: ','

In [252]:
tfidf_vectorizer = TfidfVectorizer(stop_words='english')

In [ ]:
tfidf_vectorizer.fit_transform(lost_df_flattened[])

In [57]:
lost_df_flattened['section'].value_counts()

body    51297
Name: section, dtype: int64

In [58]:
lost_df_flattened[lost_df_flattened['section'] == 'header']

Empty DataFrame
Columns: [page, section, token, pos, count]
Index: []

In [34]:
lost_df.sort_values(by='count', ascending=False)

                         count
page section token  pos
250  body    .      .       45
6    body    ,      ,       43
100  body    and    CC      43
163  body    .      .       40
76   body    the    DT      38
...                        ...
101  body    s      VBZ      1
             sat    VBD      1
             second JJ       1
             sense  NN       1
260  body    •      SYM      1

[51297 rows x 1 columns]

In [100]:
lost_df = volume.tokenlist()

In [91]:
lost_df = volume.tokenlist(pages=False, pos=False, case=False)
lost_df.sort_values(by='count', ascending=False)[:100]

                   count
section lowercase
body    the         5506
        ,           5498
        .           4954
        and         2939
        to          2316
        she         1783
        a           1681
        ''          1619
        ``          1616
        her         1590
        in          1511
        of          1489
        he          1435
        was         1374
        i           1241
        that        1201
        had         1124
        said         819
        it           795
        on           753
        you          738
        's           734
        his          714
        with         659
        for          621
        at           607
        would        542
        him          504
        n't          500
        as           497
        they         460
        but          450
        not          437
        all          409
        my           405
        up           396
        from         393
        out          376
        when         367
        one          365
        me           352
        ?            349
        there        322
        back         316
        what         314
        did          306
        do           299
        man          297
        about        297
        be           289
        were         281
        or           279
        could        271
        mother       271
        if           267
        then         256
        been         255
        woman        250
        this         247
        time         240
        down         238
        street       234
        just         234
        who          231
        after        229
        so           229
        have         226
        no           225
        like         221
        them         215
        before       211
        more         203
        day          195
        told         191
        some         189
        see          187
        know         187
        by           183
        father       183
        get          180
        got          179
        two          178
        we           178
        their        169
        come         169
        into         168
        took         165
        way          163
        first        162
        people       161
        is           157
        again        155
        went         148
        other        148
        now          147
        go           147
        door         145
        over         144
        house        144
        an           142

https://babel.hathitrust.org/cgi/pt?id=bc.ark:/13960/t5q84bb6g&view=1up&seq=9

In [80]:
dubliners_volume = Volume("bc.ark:/13960/t5q84bb6g")

In [81]:
dubliners_volume.title

'Dubliners /'

In [85]:
dubliners_volume.tokenlist().groupby(level='section').size()

section
body    43854
dtype: int64

In [ ]:
from htrc_features import Volume
vol = Volume('data/ef2-stubby/hvd/34926/hvd.32044093320364.json.bz2')
vol

In [88]:
Volume("mdp.39015062571693").tokenlist().groupby(level='section').size()

section
body    36810
dtype: int64